#set( $title = "Figgo - ${domain.DomainName} - Configurações do domínio" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        <h3>Configuração do módulo $i18n.get($name)</h3>
        <form action="/domain/module/$name" method="post" accept-charset="utf-8">
            <fieldset>
				<legend>Defina as propriedades do coletivo</legend>
                #foreach( $property in $module.PropertiesKeys )
                <div>
                    <label for="$property">$i18n.get($property)</label>
                    <input type="text" name="__$property" value="$!{module.getPropertyValue($property)}" />
                </div>
                #end
            </fieldset>
            <input type="submit" value="Salvar" />
        </form>
    </section>
</div>
#end

#scripts()