#set( $title = "Figgo - Novo domínio" )
#parse( "templates/layout_intern.vm" )

#head()

#simpleHeader()

#@body()
<div id="info-form" class="left">
	<section>
		<header>
			<h1>Núcleo cultural</h1>
		</header>
		<p>TBD</p>
	</section>
</div>
<div class="left">
    <form action="/admin/domain/new" method="post">
        <fieldset>
            <legend>Criação de núcleo</legend>
            <div>
                <label for="name">Domínio</label>
                <input type="text" id="name" name="name" value="$!{name}" /> .figgo.com.br
                #if ( $invalid.name )
                    <span>$invalid.name</span>
                #end
            </div>
            <div>
                <label for="userId">Administrador</label>
                <input type="text" id="userId" name="userId" value="$!{userId}" />
            </div>
        </fieldset>
        <input type="submit" value="Criar núcleo" />
    </form>
</div>
#end

#scripts()