#set( $title = "Figgo - Novo domínio" )
#parse( "templates/intern.vm" )

#head()

#simpleHeader()

#@body()
<div id="info-form" class="left">
	<section>
		<header>
			<h1>Núcleo cultural</h1>
		</header>
		<p>TBD</p>
	</section>
</div>
<div class="left">
    <form action="/admin/domain/new" method="post">
        <fieldset>
            <legend>Criação de núcleo</legend>
            <div>
                <label for="name">Domínio</label>
                <input type="text" id="name" name="name" value="$!{name}" required autofocus/> .figgo.com.br
                #if ( $invalid.name )
                <span>$i18n.get($invalid.name)</span>
                #end
            </div>
            <div>
                <label for="userId">Administrador</label>
                <input type="email" id="userId" name="userId" value="$!{userId}" placeholder="e.g.: test@example.com" required />
                #if ( $invalid.userId )
                <span>$i18n.get($invalid.userId)</span>
                #end
            </div>
            <div>
                <label for="userId">Configurar DNS</label>
                <input type="checkbox" checked="checked" id="dns" name="dns"/>
            </div>
        </fieldset>
        <input type="submit" value="Criar núcleo" />
    </form>
</div>
#end

#scripts()