#set( $title = "Figgo - Permissões" )
#parse( "templates/layout_intern.vm" )

#header()

#@body()
	<div id="main" class="center">
		<header>
    		<h1>Permissões do domínio</h1>
		</header>
		<div id="content">
			<div id="single-column" class="domain">
                <section id="roles">
					<table class="simple">
                		<thead>
                    		<tr>
                    			<th colspan="2">Privilégio</th>
							#foreach( $role in $roles )	
								<th>$role.Name</th>
							#end
                    		</tr>
                        </thead>
                		<tbody>
                        #foreach( $role in $roles )
    						#foreach( $activities in $role.Activities )
                    		<tr>
								#foreach( $activity in $activities )
								<td>$activity</td>
    							#end
                    		</tr>
							#end
						#end
                        </tbody>
                    </table>
                </section>
            </div>
		</div>
	</div>
#end

#@scripts()
	<script type="text/javascript" src="/js/libs/jquery.uitablefilter.js"></script>
#end