body > header {
  margin: 3px auto; 
  width: 740px;
  height: 25px;
  
  h1 {
    float: left;
    font-size: 18px;  
  }
  #account {
    float: right;
    
    > ul {
      display: none;
      margin: 0;
      
      li {
        list-style: none;
      }
    }
  }
}