@import "mixins";

body {
  font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
}

/* classes */
.center {
  margin: 0 auto;
}

ul.inline {
  li {
    display: inline;
  }
}

/* elements */
img {
  max-width: 97%;
}