@import "main/user-column-left";
@import "main/user-column-right";
@import "main/bank-column-left";
@import "main/bank-column-right";
@import "main/services-column-left";
@import "main/services-column-right";

#main {
  margin: 30px auto 0;
  width: 735px;
}

#dashboard, #bank, #services {
  display: table;
  width: 735px;
  padding: 10px;
  border: 3px solid #eee;
}

// DOMAIN
#main header {
  position: relative;
  
  #tabs { text-align: right; }
}

#tabs ul {
  margin: 0 15px 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  
  li {
    margin: 0;
    
    &.selected a { background-color: #eee; }
    
    a {
      width: 100%;
      height: 100%;
      padding: 5px 5px 3px;
      background-color: #ddd;  
      
      &:hover { background-color: #eee; }
    }
  } // li
}

#balance table, #services table {
  width: 100%;
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;

  tbody, tfoter {
    td {
      padding: 3px;
    }
  }
  
  thead {
    background-color: #ddd;
    
    th {
      padding: 2px;
    }
  }

  tbody {
    td {
    }
    
    tr:nth-child(2n) {
      background-color: #eee;
    }
  }

  tfoot {
    tr {
      font-weight: bold;
      background-color: #ddd;
    }
  }
} 

