a
	text-decoration: none

a, a:hover, a:visited
	color: #c4ae30

.left
	float: left

.right
	float: right

.wrapper
	width: 960px
	height: 100%
	margin: 0 auto
	position: relative
	overflow: hidden

ul.inline li
	display: inline

ul.unstyled 
	margin: 0
	padding: 0
	li
		list-style: none

ul.two-column-shortcuts 
	overflow: hidden
	li
		width: 50%
		display: inline-block
		float: left
		margin-bottom: 5px

.hidden
	display: none