// seletor
//		[tamanho]
//		[espaçamentos]
//		[posicionamento]
// 		[plano de fundo]
//		[fonte e propriedades de texto]
//		[bordas]

$btn-light-color: #eedd7e
$btn-dark-color: #d5c256
$text-color: #d4c155
$bg-color: #9a8f19

a
	text-decoration: none

a, a:hover, a:visited
	color: #c4ae30

.left
	float: left

.right
	float: right

.wrapper
	width: 960px
	height: 100%
	margin: 0 auto
	position: relative

ul.inline li
	display: inline

html
	border-top: 3px solid #c4ae30 

html, body
	background: #f6f6f6

#info-form
	width: 40%

#global-header
	height: 80px
	background-color: #f0f0f0
	border-bottom: 1px solid #f9f9f9
	box-shadow: 0 1px 0 0 #d6d6d6, 0 2px 0 0 #f0f0f0, 0 3px 7px 1px #e9e9e9
	h1

		width: 114px
		height: 36px
		margin: 0
		position: absolute
		top: 22px
		background-image: url(/img/logo-114x36-75p.jpg)
	ul
		position: absolute
		right: 0
		top: 0
		li:nth-child(2n)
			margin: 0 9px 0 5px 
			border-left: 1px solid #c1c1c1
