a
	color: #c4ae30
	text-decoration: none
	&:visited
		color: #c4ae30
	&:hover
		color: #d5c256

.left
	float: left

.right
	float: right

.wrapper
	width: 960px
	height: 100%
	margin: 0 auto
	position: relative
	overflow: hidden

ul.inline li
	display: inline

ul.unstyled
	margin: 0
	padding: 0
	li
		list-style: none

ul.two-column-shortcuts
	overflow: hidden
	li
		width: 50%
		display: inline-block
		float: left
		margin-bottom: 5px

ul.pills
	> li
		padding: 0 8px
		text-align: center
		border-right: 1px solid #c1c1c1

		&:last-child
			border-right: none

		.selected
			color: #444
			font-weight: bold

.hidden
	display: none

h3 > small a
	float: right