#set( $title = "Figgo - Erro interno" )
#parse( "templates/layout.vm" )

#@public_body()
	<h1>500 Internal server error</h1>
	<h2>$!{error.localizedMessage}</h2>
	<h3>$!{error.localizedMessage}</h3>
	<h4>$!{error.cause.message}</h4>
#end

#public_scripts()