#set( $jqueryVersion = "1.6.4" )
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" dir="ltr" lang="pt-BR"> <!--<![endif]-->
<head>
    <title>$title</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Octahedron LTDA">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
#macro( head )    
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/style.css">
    $!bodyContent
    <script defer src="/js/libs/modernizr.min.js"></script>
    <!--[if (gte IE 6) & (lte IE 8)]>
    	<script defer src="/js/libs/selectivizr.js"></script>
    <![endif]-->
</head>
<body>
#end

#macro( simpleHeader )
    <header>
        <div id="header-top">
            <div class="wrapper">
                <a href="/"><h1 class="ir">Figgo</h1></a>
                <ul class="inline">
                    <li><a href="${applicationBaseURL}about">Sobre</a></li>
                    <li></li>
                    <li><a href="${applicationBaseURL}contact">Contato</a></li>
                </ul>
            </div>
        </div>
    </header>
#end

#macro( fullHeader )
    <header>
        <div id="header-top">
            <div class="wrapper">
                <a href="/"><h1 class="ir">Figgo</h1></a>
                <ul class="inline">
                    <li><a href="${applicationBaseURL}about">Sobre</a></li>
                    <li></li>
                    <li><a href="${applicationBaseURL}contact">Contato</a></li>
                </ul>
            </div>
        </div>
        <div id="header-bottom">
            <div class="wrapper">
                <div id="avatar-info">
                    <img src="http://lorempixum.com/45/45" />
                    <span>
                        $user.name <br />
                        <a href="${applicationBaseURL}dashboard">Dashboard</a>
                    </span>
                </div>
            </div>    
        </div>
    </header>
#end

#macro( fullHeaderDomain )
    <header>
        <div id="header-top">
            <div class="wrapper">
                <a href="/"><h1 class="ir">Figgo</h1></a>
                <ul class="inline">
                    <li><a href="${applicationBaseURL}about">Sobre</a></li>
                    <li></li>
                    <li><a href="${applicationBaseURL}contact">Contato</a></li>
                </ul>
            </div>
        </div>
        <div id="header-bottom">
            <div class="wrapper">
                <div id="avatar-info" class="left">
                    <img src="http://lorempixum.com/45/45" />
                    <span>
                        $user.name <br /> 
                        <a href="${applicationBaseURL}dashboard">Dashboard</a>
                    </span>
                </div>
                <div id="shortcuts" class="right">
                    <ul class="inline">
                        <li><a href="/bank">Meu extrato</a></li>
                        <li></li>
                        <li><a href="/services/mine">Meus serviços</a></li>
                    </ul>
                </div>
            </div>    
        </div>
    </header>
#end

#macro( body )
    <div id="content">
        <div class="wrapper">
            $!bodyContent
        </div>
    </div>
    
    <footer>
        <div class="wrapper">
        </div>
    </footer>
#end

#macro( scripts )
    <script src="//ajax.googleapis.com/ajax/libs/jquery/${jqueryVersion}/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-${jqueryVersion}.min.js">\x3C/script>')</script>
    <script defer src="/js/script.js"></script>
    $!bodyContent
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <script type="text/javascript">
        var uvOptions = {};
        (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/eBF0bFwAK85gahzUg506KA.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
    </script>
</body>
</html>
#end