#set( $jqueryVersion = "1.6.4" )
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>$title</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Octahedron LTDA">
	<meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
#macro( header )    
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/style.css">
	$!bodyContent
    <script src="/js/libs/modernizr-2.0.6.min.js"></script>
    <!--[if (gte IE 6) & (lte IE 8)]>
    	<script type="text/javascript" src="/js/libs/selectivizr.js"></script>
    <![endif]-->
</head>
#end

#macro( body )
<body>
	<header>
        <h1><a href="/">Figgo</a></h1>
		#if( $user.Name )
		<div id="account" class="dropdown">
			<a href="/user/edit">$user.UserId <img src="/img/arrow.png" alt="" /></a>
			<ul>
                <li>$user.Name</li>
				<li><a href="/user/edit">Editar conta</a></li>
			</ul>
		</div>
		#end
	</header>
	$!bodyContent
#end

#macro( scripts )
	<script src="//ajax.googleapis.com/ajax/libs/jquery/${jqueryVersion}/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-${jqueryVersion}.min.js">\x3C/script>')</script>
	$!bodyContent
    <script src="/js/script.js"></script>
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
#end