#set( $jqueryVersion = "1.6.4" )

<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" dir="ltr" lang="pt-BR"> <!--<![endif]-->
<head>
    <title>$title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="TODO">
    <meta name="author" content="Octahedron LTDA">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/style.css">
      
    <script src="/js/libs/modernizr.min.js"></script>
    <!--[if (gte IE 6) & (lte IE 8)]>
        <script src="/js/libs/selectivizr.js"></script>
    <![endif]-->
</head>