#macro( head )
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/style.css">
    $!bodyContent
    <script src="/js/modernizr.js"></script>
    <script data-main="/js/config" src="/js/require.js"></script>
</head>
<body>
#end

#macro( simpleHeader )
    <header>
        <div id="header-top">
            <div class="wrapper">
                <a href="/"><h1 class="ir">Figgo</h1></a>
                <ul class="inline">
                    <li><a href="http://ajuda.figgo.com.br/sobre">Sobre</a></li>
                    <li></li>
                    <li><a href="${applicationBaseURL}contact">Contato</a></li>
                </ul>
            </div>
        </div>
    </header>
#end

#macro( fullHeader )
    <header>
        <div id="header-top">
            <div class="wrapper">
                <a href="/"><h1 class="ir">Figgo</h1></a>
                <ul class="inline">
                    <li><a href="http://ajuda.figgo.com.br/sobre">Sobre</a></li>
                    <li></li>
                    <li><a href="${applicationBaseURL}contact">Contato</a></li>
                </ul>
            </div>
        </div>
        <div id="header-bottom">
            <div class="wrapper">
                <div id="avatar-info">
                    #if ( $user.avatarKey )
                    <img src="/serve/$user.avatarKey" />
                    #else
                    <img src="http://lorempixum.com/45/45" />
                    #end
                    <span>
                        $user.name <br />
                        <ul class="inline">
                            <li><a href="${applicationBaseURL}dashboard">Home</a></li>
                            <li></li>
                            <li><a href="${applicationBaseURL}user/edit">Preferências</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </header>
#end

#macro( fullHeaderDomain )
    <header>
        <div id="header-top">
            <div class="wrapper">
                <a href="/"><h1 class="ir">Figgo</h1></a>
                <ul class="inline">
                    <li><a href="http://ajuda.figgo.com.br/sobre">Sobre</a></li>
                    <li></li>
                    <li><a href="${applicationBaseURL}contact">Contato</a></li>
                </ul>
            </div>
        </div>
        <div id="header-bottom">
            <div class="wrapper">
                <div id="avatar-info" class="left">
                    #if ( $user.avatarKey )
                    <img src="/serve/$user.avatarKey" />
                    #else
                    <img src="http://lorempixum.com/45/45" />
                    #end
                    <span>
                        $user.name <br />
                        <ul class="inline">
                            <li><a href="${applicationBaseURL}dashboard">Home</a></li>
                            <li></li>
                            <li><a href="${applicationBaseURL}user/edit">Preferências</a></li>
                        </ul>
                    </span>
                </div>
                <div id="shortcuts" class="right">
                    <ul class="inline">
                        <li><a href="/bank">Meu extrato</a></li>
                        <li></li>
                        <li><a href="/services/mine">Meus serviços</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
#end

#macro( body )
    <div id="content">
        <div class="wrapper">
            $!bodyContent
        </div>
    </div>

    <footer>
        <div class="wrapper">
        	<p><small><strong>Figgo</strong> é licenciado sob <a href="https://www.gnu.org/licenses/gpl.html">GPLv3</a> e esta página é licenciada sob <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons</a>.</small></p>
        </div>
    </footer>
#end

#macro( public_body )
<body>
    <header>
        <div id="header-top">
            <div class="wrapper">
                <a href="/"><h1 class="ir">Figgo</h1></a>
                <ul class="inline">
                    <li><a href="http://ajuda.figgo.com.br/sobre">Sobre</a></li>
                    <li></li>
                    <li><a href="${applicationBaseURL}contact">Contato</a></li>
                </ul>
            </div>
        </div>
    #if ( $user )
        <div id="header-bottom">
            <div class="wrapper">
                <div id="avatar-info">
                    #if ( $user.avatarKey )
                    <img src="/serve/$user.avatarKey" />
                    #else
                    <img src="http://lorempixum.com/45/45" />
                    #end
                    <span>
                        $!{user.name} <br />
                        <ul class="inline">
                            <li><a href="${applicationBaseURL}dashboard">Home</a></li>
                            <li></li>
                            <li><a href="${applicationBaseURL}user/edit">Preferências</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    #end
    </header>
    <div id="content">
        <div class="wrapper">
            $!bodyContent
        </div>
    </div>

    <footer>
        <div class="wrapper">
        	<p><small><strong>Figgo</strong> é licenciado sob <a href="https://www.gnu.org/licenses/gpl.html">GPLv3</a> e esta página é licenciada sob <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons</a>.</small></p>
        </div>
    </footer>
#end

#macro( domainSidebar )
<div class="left sidebar">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/serve/$domain.AvatarKey" alt="Avatar do domínio" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do domínio" /></a>
        #end
        <ul class="links">
            <li><a href="/">Home</a></li>
            #foreach( $module in $domain.ModulesEnabled )
                <li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$i18n.get($module)</a></li>
            #end
            <li><a href="/users">Usuários</a></li>
            #if ( $auth.EditDomain )
            <li><a href="/domain/edit">Preferências</a></li>
            #end
        </ul>
    </section>
</div>
#end

#macro( public_scripts )
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
#end

#macro( scripts )
    $!bodyContent
    <script> <!-- Google Analytics -->
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <script> <!-- UserVoice -->
        var uvOptions = {};
        (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/eBF0bFwAK85gahzUg506KA.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
    </script>
</body>
</html>
#end
