#macro( public_body )
<body>
    <header>
        <div id="header-top">
            <div class="wrapper">
                <a href="/"><h1 class="ir">Figgo</h1></a>
                <ul class="inline">
                    <li><a href="/about">Sobre</a></li>
                    <li></li>
                    <li><a href="/contact">Contato</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div id="content">
        <div class="wrapper">
            $!bodyContent
        </div>
    </div>

    <footer>
        <div class="wrapper">
            <p><small><strong>Figgo</strong> é licenciado sob <a href="https://www.gnu.org/licenses/gpl.html">GPLv3</a> e esta página é licenciada sob <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons</a>.</small></p>
        </div>
    </footer>
#end
#macro( public_scripts )
    <script defer src="//ajax.googleapis.com/ajax/libs/jquery/${jqueryVersion}/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-${jqueryVersion}.min.js">\x3C/script>')</script>
    <script defer src="/js/script.js"></script>
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
#end

#macro( scripts )
    <script src="//ajax.googleapis.com/ajax/libs/jquery/${jqueryVersion}/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-${jqueryVersion}.min.js">\x3C/script>')</script>
    <script src="/js/script.js"></script>
    $!bodyContent
    <script> <!-- Google Analytics -->
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <script> <!-- UserVoice -->
        var uvOptions = {};
        (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/eBF0bFwAK85gahzUg506KA.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
    </script>
</body>
</html>
#end