.bank
	display: none
	td.balance
		text-align: right
	th
		&:nth-child(1)
			width: 15%
		&:nth-child(2)
			width: 34%
		&:nth-child(3)
			width: 34%
		&:nth-child(4)
			width: 17%
	tbody tr:last-child td
		border-bottom: 1px solid #cccccc
	td
		&.blue
			color: #0000ff
		&.red
			color: #ff0000
		&:last-child
			text-align: right

#statement-transactions
	display: none

#general-stats
	overflow: hidden
	> div
		width: 50%

#dynamic-stats
	display: none
