#avatar-info
	height: 100%
	img
		margin: 10px 0 0
		width: 45px
		height: 45px
		float: left
		-webkit-border-radius: 3px
		-moz-border-radius: 3px
		border-radius: 3px
	span
		float: left
		margin: 16px 0 0 5px
		a
			font-size: 13px

#domains .organization
	margin-bottom: 12px
	overflow: hidden
	display: none
	img
		width: 32px
		height: 32px
		float: left
	a
		margin: 7px 0 0 5px
		float: left	

img.notification
	float: left
	padding: 3px 7px 0 0

#shortcuts
	ul
		margin: 0
		padding: 0 
	li
		line-height: 65px
	li:nth-child(2n)
		margin: 0 9px 0 5px 
		border-left: 1px solid #dadada
		border-right: 1px solid #f8f8f8

