#set( $title = "Figgo - $!{domain.Name} - Serviços" )
#set( $currentModule = "SERVICES" )
#parse( "templates/layout_intern.vm" )

#head()

#fullHeaderDomain()

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/serve/$domain.AvatarKey" alt="Avatar do domínio" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do domínio" /></a>
        #end
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            #foreach( $module in $domain.ModulesEnabled )
                <li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$module</a></li>
            #end
        </ul>
    </section>
</div>
<div class="left">
    <section id="main-intern">
        <h3>Categorias</h3>
        <nav>
            <ul class="bank-shortcuts">
            #foreach( $category in $categories )
                <li><a href="/services/$category">$category</a></li>
            #end
            </ul>
        </nav>

        <hr />
        
        <ul class="unstyled">
            #foreach( $service in $services )
            <li class="service">
                <header>
                    <h4><a href="/service/${service.id}">$service.name</a></h4>
                    #if ( $service.hasProvider($user.userId) )<img class="thumbs-up" src="/img/thumbs-up.png" title="Eu faço!" alt="Eu faço!" />#end
                </header>
                <p>$service.description</p>
                <footer>
                    $service.amount
                    <span class="contract"><a href="/service/${service.id}">Contratar</a></span>
                </footer>
            </li>
            #end
        </ul>
    </section>
</div>
#end
    
#@scripts()
    <script src="/js/services.js"></script>
#end