#set( $title = "Figgo - $!{domain.Name} - Serviços" )
#set( $module = "services" )
#set( $currentModule = "SERVICES" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        <h3>Categorias</h3>
        <nav>
            <ul class="two-column-shortcuts">
            #foreach( $category in $categories )
                <li><a href="/services/$category.id" #if( $category.id == $currentCategory)class="selected"#end>$category.name</a></li>
            #end
            </ul>
        </nav>

        <hr />

        <section>
            <h3>Serviços #if ( $auth.NewService )<small><a href="/services/new">Criar novo</a></small>#end</h3>
            #if ( $services.size() > 0 )
            <ul class="unstyled">
                #foreach( $service in $services )
                <li class="service">
                    <header>
                        <h4><a href="/service/${service.id}">$service.name</a></h4>
                        #if ( $service.hasProvider($user.userId) )
                        <img class="thumbs-up" data-service="${service.id}" src="/img/thumbs-up.png" title="Eu faço!" alt="Eu faço!" />
                        #else
                        <img class="thumbs-up not" data-service="${service.id}" src="/img/thumbs-up.png" title="Não faço!" alt="Não faço!" />
                        #end
                    </header>
                    <p>$service.getShortDescription()</p>
                    <footer>
                        $numberFormat.format($service.amount)
                        <span class="contract"><a href="/service/${service.id}">Contratar</a></span>
                    </footer>
                </li>
                #end
            </ul>
            #else
            <p>Nenhum serviço cadastrado até o momento.</p>
            #end
        </section>
    </section>
</div>
#end

#scripts()