#set( $title = "Figgo - $!{domain.Name} - Serviços" )
#set( $module = "services" )
#set( $currentModule = "SERVICES" )
#parse( "templates/intern.vm" )

#@head()
    <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css" />
#end

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern" class="new-service">
        <h2>Novo serviço</h3>
        <form action="/services/new" method="post" accept-charset="utf-8">
            <fieldset>
                <legend>Dados do serviço</legend>
                <div>
                    <label for="name">Nome</label>
                    <input type="text" name="name" value="$!{name}" />
                    #if ( $invalid.name )
                        <span>$i18n.get($invalid.name)</span>
                    #end
                </div>
                <div>
                <label for="amount">Valor</label>
                    <input type="text" name="amount" value="$!{amount}" />
                    #if ( $invalid.value )
                        <span>$i18n.get($invalid.value)</span>
                    #end
                </div>
                <div>
                    <label for="category">Categoria</label>
                    <input id="category" class="autocomplete" type="text" name="category" value="$!{category}" />
                    #if ( $invalid.category )
                        <span>$i18n.get($invalid.category)</span>
                    #end
                </div>
                <div>
                    <label for="description">Descrição</label>
                    <textarea id="description" name="description">$!{description}</textarea>
                </div>
                <input type="submit" value="Criar" />
            </fieldset>
        </form>
    </section>
</div>
#end

#scripts()