#set( $title = "Figgo - $!{domain.Name} - Serviços" )
#set( $currentModule = "SERVICES" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern" class="service-details" data-service="$service.id" data-user="$user.userId" data-username="$user.name">
        <section>
            <h3>$!{service.name}</h3>
            <small><a href="/services/$service.categoryId">$!{service.category}</a></small>
            <p>$!{service.description}</p>
            <footer>
                    Valor: $numberFormat.format($service.amount)
            </footer>
            <div id="operations">
                #if ($auth.EditService)
                <a href="/service/$service.id/edit">Editar</a>
                #end
                #if ($auth.RemoveService)
                <a data-type="url" data-confirm="Você tem certeza que deseja remover esse serviço?" href="/service/$service.id/delete">Remover</a>
                #end
            </div>
        </section>
        <section id="providers">
            <h3>
                Prestadores
                #if ( $service.hasProvider($user.userId) )
                <img class="thumbs-up" data-service="$service.id" src="/img/thumbs-up.png" title="Eu faço!" alt="Eu faço!" />
                #else
                <img class="thumbs-up not" data-service="$service.id" src="/img/thumbs-up.png" title="Não faço!" alt="Não faço!" />
                #end
            </h3>
            <img class="loader" src="/img/ajax-loader.gif" />
        </section>
    </section>
</div>
#end

#@scripts()
    <script src="/js/app/service/main.js"></script>
#end