#set( $title = "Figgo - $!{domain.Name} - Serviços" )
#set( $currentModule = "SERVICES" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/serve/$domain.AvatarKey" alt="Avatar do domínio" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do domínio" /></a>
        #end
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            #foreach( $module in $domain.ModulesEnabled )
                <li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$i18n.get($module)</a></li>
            #end
        </ul>
    </section>
</div>
<div class="left">
    <section id="main-intern">
        <section id="service" data-id="$service.id">
            <h3>$!{service.name}</h3>
            <small>$!{service.category}</small>
            <p>$!{service.description}</p>
            <footer>
                    Valor: $!{service.amount}
            </footer>
            <div id="operations">
                // if admin
                <a href="/service/$service.id/edit">editar</a>
                <a href="/service/$service.id/delete">remover</a>
            </div>
        </section>
        <section id="providers">
            <h3>
                Prestadores
                #if ( $service.hasProvider($user.userId) )
                <img class="thumbs-up" src="/img/thumbs-up.png" title="Eu faço!" alt="Eu faço!" />
                #else
                <img class="thumbs-up not" src="/img/thumbs-up.png" title="Não faço!" alt="Não faço!" />
                #end
            </h3>
            <ul data-user="$user.userId.split('@')[0]">
            #foreach( $provider in $service.providers )
                <li id="$provider.split('@')[0]">$provider - <a class="inside-link" href="/service/$service.id/contract/$provider">contratar</a></li>
            #end
            </ul>
        </section>
    </section>
</div>
#end

#@body()
        <div id="content">
            <div id="single-column">
                
            </div>
        </div>
    </div>
#end
    
#@scripts()
    <script src="/js/services.js"></script>
#end