#set( $title = "Figgo - $!{domain.Name} - Serviços" )
#set( $currentModule = "SERVICES" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        <h3>Meus serviços</h3>
        <nav>
            <ul class="two-column-shortcuts">
                <li><a href="/services/mine">Disponíveis</a></li>
                <li><a href="/services/contracts">Contratos</a></li>
            </ul>
        </nav>

        <hr />
        
        <section>
            <h3>Disponíveis</h3>
            #if ( $services.size() > 0 )
            <ul class="unstyled">
                #foreach( $service in $services )
                <li class="service">
                    <header>
                        <h4><a href="/service/${service.id}">$service.name</a></h4>
                        <img class="thumbs-up" src="/img/thumbs-up.png" title="Eu faço!" alt="Eu faço!" />
                    </header>
                    <p>$service.description</p>
                    <footer>
                        $numberFormat.format($service.amount)
                        <span class="contract"><a href="/service/${service.id}">Contratar</a></span>
                    </footer>
                </li>
                #end
            </ul>
            #else
            <p>Você não oferece nenhum serviço até o momento.</p>
            #end
        </section>
    </section>
</div>
#end

#@scripts()
    <script src="/js/services.js"></script>
#end