@charset "UTF-8";
/* HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ========================================================== */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]), [hidden] {
  display: none; }

/* =============================================================================
 * Base
 * ========================================================================== */
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #222222; }

button, input, select, textarea {
  font-family: sans-serif;
  color: #222222; }

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design) */
::-moz-selection, ::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none; }

/* =============================================================================
 * Links
 * ========================================================================== */
a {
  color: #0000ee; }
  a:visited {
    color: #551a8b; }
  a:hover {
    color: #0066ee; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* =============================================================================
 * Typography
 * ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ffff99;
  color: black;
  text-decoration: none; }

mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: "";
    content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
 * Lists
 * ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/* Correct overflow not hidden in IE9 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
 * Figures
 * ========================================================================== */
figure, form {
  margin: 0; }

/* =============================================================================
 * Forms
 * ========================================================================== */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/* 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/* 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7 */
button, input {
  line-height: normal;
  *overflow: visible; }

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input {
  *overflow: auto; }

/* 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * Consistent box sizing and appearance */
button {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
 * Tables
 * ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }
  .ir br {
    display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: "";
    display: table; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* Bootstrap v1.3.0 modified by Vítor Avelino
 *
 * Copyright 2011 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 * Date: Thu Sep 22 12:52:42 PDT 2011
 *
 * Extracted part of forms, label style */
/* from forms.less */
form {
  margin: 18px 0; }

fieldset {
  margin-bottom: 18px;
  padding-top: 18px; }
  fieldset legend {
    display: block;
    padding-left: 145px;
    font-size: 19.5px;
    line-height: 1;
    color: #404040;
    *padding: 0 0 5px 145px;
    *line-height: 1.5; }
  fieldset div {
    margin: 0 0 15px; }
  fieldset div.general {
    margin-left: 143px;
    color: #c43c35; }

label, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal; }

label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  width: 130px;
  text-align: right;
  color: #404040; }

input {
  display: inline-block;
  width: 250px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: gray;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  input[type=checkbox], input[type=radio] {
    cursor: pointer; }

textarea, select {
  display: inline-block;
  width: 250px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: gray;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0 3px 10px;
  *margin-top: 0;
  /* IE6-7 */
  line-height: normal;
  border: none; }
input[type=file] {
  background-color: white;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
  margin: 0 0 0 145px; }

select, input[type=file] {
  height: 27px;
  line-height: 27px;
  *margin-top: 4px; }

select[multiple] {
  height: inherit; }

textarea {
  height: auto; }

:-moz-placeholder, ::-webkit-input-placeholder {
  color: #bfbfbf; }

select {
  margin: 0 0 0 10px; }

input, textarea {
  margin: 0 0 0 10px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }

input:focus, textarea:focus {
  outline: 0;
  border-color: #c4ae30;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px #c4ae30;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px #c4ae30; }

input[type=file]:focus, input[type=checkbox]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666666; }

select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666666; }

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  background-color: whitesmoke;
  border-color: #dddddd;
  cursor: not-allowed; }

/* from patterns.less */
.label {
  background-color: #bfbfbf;
  border-radius: 3px 3px 3px 3px;
  color: white;
  font-size: 9.75px;
  font-weight: bold;
  padding: 1px 3px 2px;
  text-transform: uppercase; }
  .label.important {
    background-color: #c43c35; }

a {
  color: #c4ae30;
  text-decoration: none; }
  a:visited {
    color: #c4ae30; }
  a:hover {
    color: #d5c256; }

.left {
  float: left; }

.right {
  float: right; }

.wrapper {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

ul.inline li {
  display: inline; }

ul.unstyled {
  margin: 0;
  padding: 0; }
  ul.unstyled li {
    list-style: none; }

ul.two-column-shortcuts {
  overflow: hidden; }
  ul.two-column-shortcuts li {
    width: 50%;
    display: inline-block;
    float: left;
    margin-bottom: 5px; }

ul.pills > li {
  padding: 0 8px;
  text-align: center;
  border-right: 1px solid #c1c1c1; }
  ul.pills > li:last-child {
    border-right: none; }
  ul.pills > li.active > a {
    color: #444444;
    font-weight: bold; }

.hidden {
  display: none; }

h3 > small a {
  float: right; }

html {
  background-color: #f0f0f0;
  border-top: 3px solid #c4ae30; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  border-bottom: 20px solid #f0f0f0; }

#info-form {
  width: 40%; }

#header-top {
  height: 80px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #f9f9f9;
  -webkit-box-shadow: 0 1px 0 0 #d6d6d6, 0 2px 0 0 #f0f0f0, 0 3px 7px 1px #e9e9e9;
  -moz-box-shadow: 0 1px 0 0 #d6d6d6, 0 2px 0 0 #f0f0f0, 0 3px 7px 1px #e9e9e9;
  box-shadow: 0 1px 0 0 #d6d6d6, 0 2px 0 0 #f0f0f0, 0 3px 7px 1px #e9e9e9; }
  #header-top h1 {
    width: 114px;
    height: 36px;
    margin: 0;
    position: absolute;
    top: 22px;
    background-image: url(/img/logo-114x36-75p.jpg); }
  #header-top ul {
    position: absolute;
    right: 0;
    top: 0; }
    #header-top ul li:nth-child(2n) {
      margin: 0 9px 0 5px;
      border-left: 1px solid #c1c1c1; }

#header-bottom {
  height: 65px;
  overflow: hidden;
  font-size: 14px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #f9f9f9;
  -webkit-box-shadow: inset 0 1px 0 0 #d6d6d6, inset 0 2px 0 0 #f0f0f0, inset 0 3px 7px 1px #e9e9e9, 0 1px 0 0 #d6d6d6, 0 2px 7px 1px #f0f0f0;
  -moz-box-shadow: inset 0 1px 0 0 #d6d6d6, inset 0 2px 0 0 #f0f0f0, inset 0 3px 7px 1px #e9e9e9, 0 1px 0 0 #d6d6d6, 0 2px 7px 1px #f0f0f0;
  box-shadow: inset 0 1px 0 0 #d6d6d6, inset 0 2px 0 0 #f0f0f0, inset 0 3px 7px 1px #e9e9e9, 0 1px 0 0 #d6d6d6, 0 2px 7px 1px #f0f0f0; }

.wrapper > div:first-child {
  width: 174px; }

.sidebar {
  padding: 0 20px 20px 0;
  border-right: 1px solid #e0e0e0; }

#about-intern {
  width: 170px; }
  #about-intern img {
    width: 170px;
    height: 170px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  #about-intern ul {
    margin: 10px 0 0;
    padding: 0; }
  #about-intern ul.links > li {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e8e8e8;
    line-height: 28px;
    font-size: 14px; }
    #about-intern ul.links > li a {
      display: block; }
  #about-intern ul.links > li:first-child {
    border-top: none; }
  #about-intern ul.links > li:last-child {
    border-bottom: none; }

#main-intern {
  width: 725px;
  min-height: 500px;
  margin-left: -1px;
  padding: 0 0 20px 30px;
  border-left: 1px solid #e0e0e0; }
  #main-intern ul {
    margin: 0;
    padding: 0; }
    #main-intern ul.notifications li {
      margin: 0 0 10px;
      padding: 12px;
      background-color: #f3f3f3;
      border: 1px solid #e4e4e4;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }

body > footer {
  height: 100%;
  min-height: 80px;
  background-color: #f0f0f0;
  -webkit-box-shadow: inset 0 1px 0 0 #f0f0f0, inset 0 2px 0 0 #d6d6d6, inset 0 3px 0 0 #f9f9f9, inset 0 4px 7px 1px #e9e9e9;
  -moz-box-shadow: inset 0 1px 0 0 #f0f0f0, inset 0 2px 0 0 #d6d6d6, inset 0 3px 0 0 #f9f9f9, inset 0 4px 7px 1px #e9e9e9;
  box-shadow: inset 0 1px 0 0 #f0f0f0, inset 0 2px 0 0 #d6d6d6, inset 0 3px 0 0 #f9f9f9, inset 0 4px 7px 1px #e9e9e9;
  text-align: center; }

table {
  width: 100%;
  border: 1px solid #dddddd; }
  table thead {
    text-align: left; }
  table th, table td {
    padding: 10px 10px 9px;
    line-height: 18px; }
  table th {
    border-bottom: 1px solid #cccccc; }
  table td {
    border: 1px solid #dddddd;
    vertical-align: middle; }

.bank {
  display: none; }
  .bank td.balance {
    text-align: right; }
  .bank th:nth-child(1) {
    width: 15%; }
  .bank th:nth-child(2) {
    width: 34%; }
  .bank th:nth-child(3) {
    width: 34%; }
  .bank th:nth-child(4) {
    width: 17%; }
  .bank tbody tr:last-child td {
    border-bottom: 1px solid #cccccc; }
  .bank td.blue {
    color: blue; }
  .bank td.red {
    color: red; }
  .bank td:last-child {
    text-align: right; }

#statement-transactions {
  display: none; }

#general-stats {
  overflow: hidden; }
  #general-stats > div {
    width: 50%; }

#dynamic-stats {
  display: none; }

div.roles {
  overflow: hidden;
  margin: 0; }
  div.roles > div {
    width: 50%;
    float: left; }

table.domain thead th:nth-child(1) {
  width: 40%; }
table.domain thead th:nth-child(2) {
  width: 40%; }
table.domain thead th:nth-child(3) {
  width: 20%; }

#domains {
  min-height: 500px;
  padding-bottom: 20px; }

/* roles */
#new-role {
  display: none; }

table.roles tbody tr:hover {
  background-color: #eeeeee; }

#description-area {
  position: relative; }
  #description-area > ul {
    width: 200px;
    margin: 0 0 5px 143px; }
    #description-area > ul li {
      display: inline; }
      #description-area > ul li:nth-child(2n) {
        border-left: 1px solid #dadada;
        border-right: 1px solid #f8f8f8;
        margin: 0 9px 0 5px; }
    #description-area > ul a {
      text-align: center; }
  #description-area .selected {
    color: #444444;
    font-weight: bold; }

#markdown-preview {
  width: 575px;
  height: 300px;
  box-shadow: 0 0 1px #cccccc;
  margin-left: 145px;
  margin-top: -20px;
  overflow: auto;
  display: none; }
  #markdown-preview ul {
    margin-left: 20px; }

#main-intern.index {
  display: none; }

.thumbsup {
  position: absolute;
  top: 0;
  right: 0; }

.contract {
  position: absolute;
  display: none;
  bottom: 12px;
  right: 12px; }

#service {
  position: relative; }

#operations {
  position: absolute;
  top: 0;
  right: 0; }

.service .thumbs-up {
  position: absolute;
  top: 12px;
  right: 12px; }

#providers > ul {
  display: none; }

.thumbs-up {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  cursor: pointer; }
  .thumbs-up.not {
    opacity: 0.2;
    -moz-opacity: 0.2;
    filter: alpha(opacity=20); }

ul.contracts {
  display: none; }

#services-type {
  text-align: center; }

#provided, #hired {
  margin-top: 20px;
  display: none; }

ul > li.service {
  position: relative;
  margin-top: 10px;
  padding: 12px;
  background-color: #f3f3f3;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  ul > li.service h4 {
    padding: 0;
    margin: 0; }
  ul > li.service:first-child {
    margin-top: 0; }
  ul > li.service:hover .contract {
    display: inline; }

#avatar-info {
  width: 300px;
  height: 100%; }
  #avatar-info img {
    margin: 10px 0 0;
    width: 45px;
    height: 45px;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  #avatar-info span {
    float: left;
    margin: 16px 0 0 5px; }
    #avatar-info span a {
      font-size: 13px; }
    #avatar-info span ul {
      margin: 0;
      padding: 0; }
      #avatar-info span ul li:nth-child(2n) {
        margin: 0 9px 0 5px;
        border-left: 1px solid #dadada;
        border-right: 1px solid #f8f8f8; }

#domains .organization {
  margin-bottom: 12px;
  overflow: hidden;
  display: none; }
  #domains .organization img {
    width: 32px;
    height: 32px;
    float: left; }
  #domains .organization a {
    margin: 7px 0 0 5px;
    float: left; }

img.notification {
  float: left;
  padding: 3px 7px 0 0; }

#shortcuts ul {
  margin: 0;
  padding: 0; }
#shortcuts li {
  line-height: 65px; }
#shortcuts li:nth-child(2n) {
  margin: 0 9px 0 5px;
  border-left: 1px solid #dadada;
  border-right: 1px solid #f8f8f8; }

.has-users {
  display: none; }

/* ============================================
 * iPad in landscape
 * ============================================ */
@media only screen and (max-width: 1024px) {
  /* styles go here */ }
/* ============================================
 * iPad in portrait
 * ============================================ */
@media only screen and (max-width: 768px) {
  /* styles go here */ }
/* ============================================
 * Smartphones w/ bigger resolution
 * ============================================ */
@media only screen and (max-width: 600px) {
  /* styles go here */ }
/* ============================================
 * Smartphones w/ small resolution
 * ============================================ */
@media only screen and (max-width: 480px) {
  /* styles go here */ }
/* ============================================
 * Smartphones w/ tiny resolution
 * ============================================ */
@media only screen and (max-width: 360px) {
  /* styles go here */ }
