#set( $title = "Figgo - $!{domain.Name} - Serviços" )
#set( $currentModule = "SERVICES" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        <h2>Status de contrato</h2>
        <form action="/services/contract/$contract.Id/edit" method="post" accept-charset="utf-8">
            <fieldset>
                <legend>Como está o seu serviço?</legend>
                <p>$contract.service.name</p>
                <div>
                    <label for="status">Status</label>
                    <select name="status">
                        <option value="PENDING" #if($status == "PENDING")selected#end>Pendente</option>
                        <option value="IN_PROGRESS" #if($status == "IN_PROGRESS")selected#end>Em andamento</option>
                        <option value="COMPLETED" #if($status == "COMPLETED")selected#end>Completo</option>
                    </select>
                </div>
            </fieldset>
            <input type="submit" value="Atualizar" />
        </form>
    </section>
</div>
#end
    
#scripts()