#set( $title = "Figgo - $!{domain.Name} - Serviços" )
#set( $currentModule = "SERVICES" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        #if ( $exception )
            <p class="exception">$exception</p>
        #end
        <h3>Meus serviços</h3>
        <nav>
            <ul class="two-column-shortcuts">
                <li><a href="/services/mine">Disponíveis</a></li>
                <li><a href="/services/contracts">Contratos</a></li>
            </ul>
        </nav>

        <hr />
        
        <h3>Serviços</h3>
        <ul id="services-type" class="inline pills">
            <li class="active"><a href="#" data-div="#opened">Em aberto</a></li>
            <li><a href="#" data-div="#provided">Prestados</a></li>
            <li><a href="#" data-div="#hired">Contratados</a></li>
        </ul>

        <div id="opened" class="pill-container">
            <section>
                <h4>Prestados</h3>
                #if ( $providedOpenedContracts.size() > 0 )
                <img class="loader" src="/img/ajax-loader.gif" />
                <ul class="unstyled contracts">
                    #foreach( $contract in $providedOpenedContracts )
                    <li class="service">
                        <header>
                            <a href="/service/$contract.service.id"><h4>$contract.service.name</h4></a>
                        </header>
                        <dl>
                            <dt>Contratante</dt>
                            <dd class="provider" data-user="$contract.contractor">$contract.contractor</dd>
                            <dt>Status</dt>
                            <dd>$i18n.get($contract.status.name())</dd>
                            #if ( $contract.status.name() == "COMPLETED" )
                            <dt>Pago?</dt>
                            <dd>$i18n.get($contract.paid.toString())</dd>
                            #end
                        </dl>
                        <footer>
                            $numberFormat.format($contract.amount)
                            <span class="contract"><a href="/services/contract/$contract.id/edit">Editar</a></span>
                        </footer>
                    </li>
                    #end
                </ul>
                #else
                <p>Nenhum serviço prestado em aberto até o momento.</p>
                #end
            </section>

            <section>
                <h4>Contratados</h3>
                #if ( $hiredOpenedContracts.size() > 0 )
                <img class="loader" src="/img/ajax-loader.gif" />
                <ul class="unstyled contracts">
                    #foreach( $contract in $hiredOpenedContracts )
                    <li class="service">
                        <header>
                            <a href="/service/$contract.service.id"><h4>$contract.service.name</h4></a>
                        </header>
                        <dl>
                            <dt>Prestador</dt>
                            <dd class="provider" data-user="$contract.provider">$contract.provider</dd>
                            <dt>Status</dt>
                            <dd>$i18n.get($contract.status.name())</dd>
                            #if ( $contract.status.name() == "COMPLETED" )
                            <dt>Pago?</dt>
                            <dd>$i18n.get($contract.paid.toString())</dd>
                            #end
                        </dl>
                        <footer>
                            $numberFormat.format($contract.amount)
                            <span class="contract"><a class="inside-link" data-type="url" data-confirm="Você tem certeza que deseja pagar?" href="/services/contract/$contract.id/pay">Pagar</a></span>
                        </footer>
                    </li>
                    #end
                </ul>
                #else
                <p>Nenhum serviço contratado em aberto até o momento.</p>
                #end
            </section>
        </div> <!-- #opened -->

        <div id="provided" class="pill-container">
            <section>
                #if ( $providedContracts.size() > 0 )
                <ul class="unstyled contracts">
                    #foreach( $contract in $providedContracts )
                    <li class="service">
                        <header>
                            <a href="/service/$contract.service.id"><h4>$contract.service.name</h4></a>
                        </header>
                        <dl>
                            <dt>Contratante</dt>
                            <dd class="provider" data-user="$contract.contractor">$contract.contractor</dd>
                            <dt>Status</dt>
                            <dd>$i18n.get($contract.status.name())</dd>
                            <dt>Pago?</dt>
                            <dd>$i18n.get($contract.paid.toString())</dd>
                        </dl>
                        <footer>
                            $numberFormat.format($contract.amount)
                            <span class="contract"><a href="/services/contract/$contract.id/edit">Editar</a></span>
                        </footer>
                    </li>
                    #end
                </ul>
                #else
                <p>Nenhum serviço prestado concluído até o momento.</p>
                #end
            </section>
        </div> <!-- #provided -->

        <div id="hired" class="pill-container">
            <section>
                #if ( $hiredContracts.size() > 0 )
                <ul class="unstyled contracts">
                    #foreach( $contract in $hiredContracts )
                    <li class="service">
                        <header>
                            <a href="/service/$contract.service.id"><h4>$contract.service.name</h4></a>
                        </header>
                        <dl>
                            <dt>Contratante</dt>
                            <dd class="provider" data-user="$contract.contractor">$contract.contractor</dd>
                            <dt>Status</dt>
                            <dd>$i18n.get($contract.status.name())</dd>
                            <dt>Pago?</dt>
                            <dd>$i18n.get($contract.paid.toString())</dd>
                        </dl>
                        <footer>
                            $numberFormat.format($contract.amount)
                            <span class="contract"><a href="/services/contract/$contract.id/edit">Editar</a></span>
                        </footer>
                    </li>
                    #end
                </ul>
                #else
                <p>Nenhum serviço contratado concluído até o momento.</p>
                #end
            </section>
        </div> <!-- #hired -->
    </section>
</div>
#end

#@scripts()
    <script src="/js/services.js"></script>
#end