#set( $title = "Figgo - $!{domain.Name} - Serviços" )
#set( $module = "services" )
#set( $currentModule = "SERVICES" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        #if ( $exception )
            <p class="exception">$exception</p>
        #end
        <h3>Meus serviços</h3>
        <nav>
            <ul class="two-column-shortcuts">
                <li><a href="/services/mine">Disponíveis</a></li>
                <li><a href="/services/contracts">Contratos</a></li>
            </ul>
        </nav>

        <hr />

        <section id="contracts">
            <h3>Serviços</h3>
            <img class="loader" src="/img/ajax-loader.gif" />
        </section>
    </section>
</div>
#end

#scripts()