#set( $title = "Figgo - $!{domain.Name} - Serviços" )
#set( $currentModule = "SERVICES" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/serve/$domain.AvatarKey" alt="Avatar do domínio" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do domínio" /></a>
        #end
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            #foreach( $module in $domain.ModulesEnabled )
                <li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$i18n.get($module)</a></li>
            #end
        </ul>
    </section>
</div>
<div class="left">
    <section id="main-intern">
        <h3>Meus serviços</h3>
        <nav>
            <ul class="two-column-shortcuts">
                <li><a href="/services/mine">Disponíveis</a></li>
                <li><a href="/services/contracts">Contratos</a></li>
            </ul>
        </nav>

        <hr />
        
        <section>
            <h3>Contratos prestados</h3>
            #if ( $providerContracts.size() > 0 )
            <img class="loader" src="/img/ajax-loader.gif" />
            <ul class="unstyled contracts">
                #foreach( $contract in $providerContracts )
                <li class="service">
                    <header>
                        <a href="/service/$contract.service.id"><h4>$contract.service.name</h4></a>
                    </header>
                    <dl>
                        <dt>Contratante</dt>
                        <dd class="provider" data-user="$contract.contractor">$contract.contractor</dd>
                        <dt>Status</dt>
                        <dd>$i18n.get($contract.status.name())</dd>
                    </dl>
                    <footer>
                        $numberFormat.format($contract.amount)
                        <span class="contract"><a href="/services/contract/$contract.id/edit">Editar</a></span>
                    </footer>
                </li>
                #end
            </ul>
            #else
            <p>Nenhum serviço prestado até o momento.</p>
            #end
        </section>

        <section>
            <h3>Contratos contratados</h3>
            #if ( $contractorContracts.size() > 0 )
            <img class="loader" src="/img/ajax-loader.gif" />
            <ul class="unstyled contracts">
                #foreach( $contract in $contractorContracts )
                <li class="service">
                    <header>
                        <a href="/service/$contract.service.id"><h4>$contract.service.name</h4></a>
                    </header>
                    <dl>
                        <dt>Prestador</dt>
                        <dd class="provider" data-user="$contract.provider">$contract.provider</dd>
                        <dt>Status</dt>
                        <dd>$i18n.get($contract.status.name())</dd>
                    </dl>
                    <footer>
                        $numberFormat.format($contract.amount)
                        <span class="contract"><a class="inside-link" href="/services/contract/$contract.id/pay">Pagar</a></span>
                    </footer>
                </li>
                #end
            </ul>
            #else
            <p>Nenhum serviço contratado até o momento.</p>
            #end
        </section>
    </section>
</div>
#end

#@scripts()
    <script src="/js/services.js"></script>
#end