#set( $title = "Figgo - ${domain.DomainName} - Configurações do domínio" )
#parse( "templates/layout.vm" )

#@body()
	<a href="$logout_url">logout</a>
	
    <div id="main" class="center">
		<header>
			<h1>$domain.Name</h1>
			<nav id="tabs">
        		<ul class="inline">
                    <li><a href="/">Dashboard</a></li>
                    #foreach( $module in $domain.ModulesEnabled )
						<li><a href="/$module.toLowerCase()">$module</a></li>
					#end
        		</ul>
			</nav>
		</header>
		<div id="dashboard">
			<div id="single-column">
				<h3>Configurações do domínio</h3>
            	<p>Preencha o formulário abaixo:</p>
                <form action="/domain/update" method="post">
            		<input type="hidden" name="_method" value="put" />
            		Domínio: ${domain.DomainName}.figgo.com.br <br />
            		<label for="name">
            			Nome: <small>(e.g.: Coletivo Mundo)</small> <input type="text" id="name" name="name" value="$!{name}"/>
                    </label><br />
        			<label for="url">
            			Site: </small> <input type="text" id="url" name="url" value="$!{url}"/>
                    </label><br />
        			<label for="maillist">
            			Lista de discussão: </small> <input type="text" id="maillist" name="maillist" value="$!{maillist}"/>
                    </label><br />
        			<fieldset>
        				<legend>Módulos</legend>
        			#foreach( $module in $modules.getExistentModules() )
        				<label for="$module">
        					<input type="checkbox" id="$module" name="$module" #if( $modules.isModuleEnabled($module) )checked#end/> $module
                        </label>
        			#end
                    </fieldset>
        			<label for="description">
                		Descrição: <textarea id="description" name="description">$!{description}</textarea>
                	</label><br />
            		<input type="submit" value="Salvar" />
                </form>
			</div>
		</div>
	</div>
#end

#scripts()