#set( $title = "Figgo - ${domain.DomainName} - Configurações do domínio" )
#parse( "templates/layout_intern.vm" )

#head()

#fullHeaderDomain()

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/blob/$domain.AvatarKey" alt="Avatar do domínio" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do domínio" /></a>
        #end
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            #foreach( $module in $domain.ModulesEnabled )
                <li><a href="/$module.toLowerCase()">$module</a></li>
            #end
        </ul>
    </section>
</div>

<div class="left">
    <section id="main-intern">
        <h2>Configurações do domínio</h2>
        <p><span class="label important">Atenção!</span> As operações de cada formulário são feitas individualmente.</p>
        <form action="/domain/edit" method="post">
            <input type="hidden" name="_method" value="put" />
            <fieldset>
                <legend>Dados gerais</legend>
                <div>
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="name" value="$!{name}" />
                </div>
                <div>   
                    <label for="url">Site</label>
                    <input type="text" id="url" name="url" value="$!{url}"/>
                </div>
                <div>
                <div>
                    <label for="maillist">Lista de discussão</label>
                    <input type="text" id="maillist" name="maillist" value="$!{maillist}"/>
                </div>
                <div>
                    <label for="description">Descrição</label>
                    <textarea id="description" name="description">$!{description}</textarea>
                </div>
                <input type="submit" value="Salvar" />
            </fieldset>
        </form>
        <h3>Módulos</h3>
        
        #foreach( $module in $modules.getExistentModules() )
        <form action="/domain/edit" method="post">
            <input type="hidden" name="_method" value="put" />
            <fieldset>
                <legend>$module</legend>
                <div>
                    <label for="$module">Ativado?</label>
                    <input type="checkbox" id="$module" name="$module" #if( $modules.isModuleEnabled($module) )checked#end/> #if( $modules.isModuleEnabled($module) )<a href="/domain/module/$module.toLowerCase()">Configurar</a>#end
                </div>
            </fieldset>
        </form>
        #end
    </section>
</div>
#end

#scripts()