#set( $title = "!@#$%*() - Editar configurações do domínio" )
#parse( "templates/layout.vm" )

#@body()
	<a href="$logout_url">logout</a>
	
    <div id="main" class="center">
		<h1>$domain.Name</h1>
		<ul>
            <li class="selected"><a href="$url/#">Dashboard</a></li>
            <li><a href="$url/bank">Banco</a></li>
            <li><a href="$url/services">Serviços</a></li>
		</ul>
		<div id="dashboard">
			<div id="column-about">
				<img src="/img/blank.png" alt="Avatar do usuário" />
                <section id="about">
    				<h2>Nome</h2>
    				<small>99 membros</small><br />
    				<small>+55 83 8888 8888</small>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industrys standard dummy text ever since the 1500s,
					when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book.</p>
    			</section>
				<hr />
			</div>
			<div id="column-notifications">
    			<section id="notifications">
					<h3>Notificações</h3>
					<ul>
						<li>Notificação 1</li>
                        <li>Notificação 2</li>
                    </ul>
				</section>
            </div>
		</div>
	</div>
#end
	
#scripts()