#set( $title = "Figgo - Coletivos" )
#parse( "templates/intern.vm" )

#head()

#fullHeader()

#@body()
<div class="left">
    <section>
        <h2>Coletivos</h2>
        <p>TBD</p>
    </section>
</div>
<div class="left">
    <section id="main-intern">
        <h2>Lista de coletivos</h2>
        <form>
            <input type="text" id="domain-search" placeholder="Nome do coletivo" />
        </form>
        <table id="domains">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Domínio</th>
                </tr>
            </thead>
            <tbody>
            #foreach( $domain in $domains )
                <tr>
                    <td>
                        #if( $domain.avatarKey )
                        <img src="/serve/$domain.avatarKey" alt="Avatar" title="Avatar"/>
                        #else
                        <img src="http://lorempixum.com/32/32/" alt="Avatar" title="Avatar" />
                        #end
                        $domain.name
                    </td>
                    <td><a href="http://${domain.domainName}.figgo.com.br">${domain.domainName}.figgo.com.br</a></td>
                </tr>
            #end
            </tbody>
        </table>
    </section>
</div>
#end

#@scripts()
    <script src="/js/libs/jquery.uitablefilter.js"></script>
    <script src="/js/domain.js"></script>
#end