#set( $title = "Figgo - Domínios" )
#parse( "templates/intern.vm" )

#head()

#fullHeader()

#@body()
<div>
    <h2>Lista de domínios</h2>
    <section id="domains">
        <form>
            <input type="text" id="domain-search" placeholder="Nome do coletivo" />
        </form>
        <table class="domain">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Domínio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            #foreach( $domain in $domains )
                <tr>
                    <td>
                        #if( $domain.AvatarKey )
                        <img src="$domain.AvatarKey" alt="Avatar do $domain.Name" title="Avatar do $domain.Name"/>
                        #else
                        <img src="/img/blank.jpg" alt="Avatar do $domain.Name" title="Avatar do $domain.Name" />
                        #end
                        $domain.name
                    </td>
                    <td>${domain.domainName}.figgo.com.br</td>
                </tr>
            #end
            </tbody>
        </table>
    </section>
</div>
#end

#@scripts()
    <script type="text/javascript" src="/js/libs/jquery.uitablefilter.js"></script>
#end