#set( $title = "Figgo - $!{domain.Name}" )
#parse( "templates/layout.vm" )

#@body()
    <div id="main" class="center">
		<div id="content" class="domain">
			<div id="single-column">
				#if( $domain.AvatarKey )
				<a href="/domain/upload"><img id="avatar" src="/serve/$domain.AvatarKey" alt="Avatar do domínio" /></a>
				#else
				<a href="/domain/upload"><img id="avatar" src="http://lorempixum.com/100/100/" alt="Avatar do domínio" /></a>
				#end
                <section id="about">
    				<h2>$domain.Name</h2>
    				<small>$domain.Url</small><br />
    				<small>$domain.MailList</small>
					<p>$domain.Description</p>
    			</section>
				<hr />
				<a href="/user/request">requisitar participação</a>
			</div>
		</div>
	</div>
#end
	
#scripts()