#set( $title = "Figgo - $!{domain.Name}" )
#parse( "templates/layout.vm" )

#simpleHeader()

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/serve/$domain.AvatarKey" alt="Avatar" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar" /></a>
        #end
        <ul class="unstyled links">
            <li><a href="#">Home</a></li>
            <li><a href="/user/request" data-type="url" data-confirm="Desejas realmente requisitar participação?">Requisitar Participação</a></li>
        </ul>
    </section>
</div>

<div class="left">
    <section id="main-intern">
        <h2>Home</h2>
        <p>TBD</p>
    </section>
</div>
#end
    
#public_scripts()