#set( $title = "Figgo - ${domain.Name} - Upload avatar" )
#parse( "templates/layout_intern.vm" )

#head()

#fullHeaderDomain()

#@body()
	<a href="$logout_url">logout</a>
	
	<div id="main" class="center">
		<header>
			<h1>$domain.Name</h1>
			<nav id="tabs">
        		<ul class="inline">
                    <li><a href="/">Dashboard</a></li>
                    #foreach( $module in $domain.ModulesEnabled )
						<li><a href="/$module.toLowerCase()">$module</a></li>
					#end
        		</ul>
			</nav>
		</header>
		<div id="content">
			<div id="single-column">
				<h3>Upload avatar</h3>
        		<p>Faça upload do avatar abaixo:</p>
                <form action="$uploadUrl" method="post" enctype="multipart/form-data">
                	<label for="avatar">
                        Arquivo (max 1mb): <input type="file" name="file" />
                	</label><br />
            		<input type="submit" value="Upload" />
                </form>
			</div>
		</div>
	</div>
#end

#scripts()