#set( $title = "Figgo - ${domain.Name} - Upload avatar" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        <h2>Upload de avatar</h2>
        <form action="$uploadUrl" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Selecione um arquivo</legend>
                <input type="hidden" name="subdomain" value="$subDomain" />
                <div>
                    <label for="avatar">Arquivo</label>
                    <input type="file" name="file" />
                </div>
            </fieldset>
            <input type="submit" value="Upload" />
        </form>
    </section>
</div>
#end

#scripts()