#set( $title = "Figgo - Dashboard" )
#parse( "templates/intern.vm" )

#head()

#simpleHeader()

#@body()
<div class="left">
    <section id="about-intern" class="user">
        <h2>$user.name</h2>
        #if( $user.avatarKey )
        <a href="/user/upload"><img id="avatar" src="/serve/$user.avatarKey" alt="Avatar" /></a>
        #else
        <a href="/user/upload"><img id="avatar" src="http://lorempixum.com/180/180/" alt="Avatar" /></a>
        #end
        <ul class="unstyled">
            <li>$user.userId</li>
            <li>$user.phoneNumber</li>
        </ul>
        #if ($user.description)
        <section class="description">$user.description</section>
        #end
    </section>

    <hr />
    
    <a href="/user/edit">Preferências</a>
    
    <hr />

    <section id="domains">
        <h3>Coletivos associados</h3>
        #if( $domains.size() > 0 )
        <img id="loader" src="/img/ajax-loader.gif" />
        <ul class="unstyled">
            #foreach( $domain in $domains )
            <li class="organization" data-domain="$domain">
                <img alt="Avatar" />
                <a href="http://$domain.$applicationDomain"></a>
            </li>
        #end
        </ul>
        #else
        <p>Nenhum coletivo associado.</p>
        #end
    </section>
</div>

<div class="left">
    <section id="main-intern">
        <h2>Notificações</h2>
        <ul class="unstyled notifications">
            <li>
                <img class="notification" src="/img/notify-27x27.png" />
                <span>
                    Notificação 1 <br />
                    <small>1 min atrás</small>
                </span>
            </li>
            <li>
                <img class="notification" src="/img/notify-27x27.png" />
                <span>
                    Notificação 2 <br />
                    <small>3 min atrás</small>
                </span>
            </li>
        </ul>
    </section>
</div>
#end

#@scripts()
    <script src="/js/user.js"></script>
#end
