#set( $title = "Figgo - Dashboard" )
#parse( "templates/layout_intern.vm" )

#header()

#@body()
	<div id="main" class="center">
		<h1>Dashboard</h1>
		<div id="content" class="user">
			<div id="column-left">
				#if( $user.AvatarKey )
				<a href="/user/upload"><img id="avatar" src="/blob/$user.AvatarKey" alt="Avatar do usuário" /></a>
				#else
				<a href="/user/upload"><img id="avatar" src="http://lorempixum.com/100/100/" alt="Avatar do usuário" /></a>
				#end
                <section id="about">
    				<h2>$user.Name</h2>
    				<small>$user.UserId</small><br />
    				<small>$user.PhoneNumber</small>
					<p>$user.Description</p>
    			</section>
				<hr />
				<section id="organizations">
                    <h3>Coletivos associados</h3>
					#foreach( $domain in $domains )
					<section class="organization">
						<h4>$domain</h4>
						<ul class="inline">
							#foreach( $module in $organization.Modules )
							<li><a href="$serverName/$module.Url">$module.Name</a></li>
							#end
                        </ul>
					</section>
					#end
                </section>
			</div>
			<div id="column-right">
    			<section id="notifications">
					<h3>Notificações</h3>
					<ul>
						<li>Notificação 1</li>
                        <li>Notificação 2</li>
                    </ul>
				</section>
            </div>
		</div>
	</div>
#end

#scripts()
