#set( $title = "Figgo - Dashboard" )
#parse( "templates/layout.vm" )

#@body()
	<div id="top-bar">
		<a href="$logout_url">logout</a>
	</div>
	
	<div id="main" class="center">
		<h1>Dashboard</h1>
		<div id="dashboard">
			<div id="column-about">
				#if( $user.AvatarKey )
				<img src="/serve?blob-key=$user.AvatarKey" alt="Avatar do usuário" />
				#else
				<img src="http://lorempixum.com/100/100/" alt="Avatar do usuário" />
				#end
                <section id="about">
    				<h2>$user.Name</h2>
    				<small>$user.UserId</small><br />
    				<small>$user.PhoneNumber</small>
					<p>$user.Description</p>
    			</section>
				<hr />
				<section id="organizations">
                    <h3>Coletivos associados</h3>
					#foreach( $organization in $organizations )
					<section class="organization">
						<h4>$organization.Name</h4>
						<ul class="inline">
							#foreach( $module in $organization.Modules )
							<li><a href="$serverName/$module.Url">$module.Name</a></li>
							#end
                        </ul>
					</section>
					#end
                </section>
			</div>
			<div id="column-notifications">
    			<section id="notifications">
					<h3>Notificações</h3>
					<ul>
						<li>Notificação 1</li>
                        <li>Notificação 2</li>
                    </ul>
				</section>
            </div>
		</div>
	</div>
#end

#scripts()
