#set( $title = "Figgo - Minha conta" )
#parse( "templates/intern.vm" )

#head()

#fullHeader()

#@body()
<div class="left">
    <section id="about-intern" class="user">
        <h2>$user.name</h2>
        #if( $user.avatarKey )
        <a href="/user/upload"><img id="avatar" src="/serve/$user.avatarKey" alt="Avatar do usuário" /></a>
        #else
        <a href="/user/upload"><img id="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do usuário" /></a>
        #end
        <ul class="unstyled">
            <li>$user.userId</li>
            <li>$user.phoneNumber</li>
        </ul>
        #if ($user.description)
        <section class="description">$user.description</section>
        #end
    </section>

    <hr />

    <a href="/user/edit">Preferências</a>
    
    <hr />

    <section>
        <h3>Coletivos associados</h3>
        #if( $domains.size() > 0 )
        <img id="loader" src="/img/ajax-loader.gif" />
        <ul class="unstyled">
            #foreach( $domain in $domains )
            <li class="organization" data-domain="$domain">
                <img alt="Avatar" />
                <a href="http://$domain.$applicationDomain"></a>
            </li>
        #end
        </ul>
        #else
        <p>Nenhum coletivo associado.</p>
        #end
    </section>
</div>
<div class="left">
    <section id="main-intern">
        <p><span class="label important">Atenção!</span> Faça um favor a si mesmo, preencha de forma correta e verídica a fim de evitar problemas futuros.</p>
        
        <hr />
        
        <form action="/user/edit" method="post" accept-charset="utf-8">
            <fieldset>
                <legend>Atualização da conta</legend>
                <input type="hidden" name="_method" value="put" />
                <div>
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="name" value="$!{name}" required />
                    #if ($invalid.name)
                    <span>$invalid.name</span>
                    #end
                </div>
                <div>
                    <label for="phoneNumber">Telefone</label>
                    <input type="text" name="phoneNumber" value="$!{phoneNumber}" pattern="^(([0-9]{2}|\\([0-9]{2}\\))[ ])?[0-9]{4}[-. ]?[0-9]{4}$" required />
                    #if ($invalid.phoneNumber)
                    <span>$invalid.phoneNumber</span>
                    #end
                </div>
                <div id="description-area">
                    <ul>
                        <li><a class="selected" data-action="text" href="#">Texto</a></li>
                        <li></li>
                        <li><a data-action="preview" href="#">Visualização</a></li>
                    </ul>
                    <label for="description">Descrição</label>
                    <textarea id="description" name="description" rows="9">$!{description}</textarea>
                    <div id="markdown-preview"></div>
                </div>
            </fieldset>
            <input type="submit" value="É hora de mudar!" />
        </form>
    </section>
</div>
#end

#@scripts()
    <script defer src="/js/user.js" />
#end