#set( $title = "Figgo - Usuários" )
#parse( "templates/intern.vm" )

#head()

#fullHeader()

#@body()
<div class="left">
    <section class="sidebar">
        <h2>Usuários</h2>
        <p>Ao lado, você pode conferir todos os usuários cadastrados no Figgo.</p>
    </section>
</div>
<div class="left">
    <section id="main-intern" class="user-list">
        <h2>Lista de usuários</h2>
        <form>
            <input type="text" id="user-search" placeholder="Nome do usuário" />
        </form>
        <table class="users-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
            #foreach( $user in $users )
                <tr>
                    <td>
                        #if( $user.avatarKey )
                        <img src="/serve/$user.avatarKey" alt="Avatar" title="Avatar"/>
                        #else
                        <img src="http://lorempixum.com/32/32/" alt="Avatar" title="Avatar" />
                        #end
                        $user.name
                    </td>
                    <td>$user.userId</td>
                </tr>
            #end
            </tbody>
        </table>
    </section>
</div>
#end

#@scripts()
    <script src="/js/app/user/main.js"></script>
#end