#set( $title = "Figgo - Início" )
#parse( "templates/layout_intern.vm" )

#header()

#@body()
	<div id="main" class="center">
		<header>
			<h1>Novo usuário</h1>
		</header>
		<div id="content">
			<div id="single-column">
				<p>Olá, $email!</p>
				<p>Você ainda não possui cadastro no Figgo. Faça já o seu!</p>

        		<p>Preencha o formulário abaixo:</p>
                <form action="/user/new" method="post" accept-charset="utf-8">
					<label for="name">
                		Nome: <input type="text" name="name" value="$!{name}" autofocus required />
						#if ( $invalid.name )
                			<span>$invalid.name</span>
                		#end
                	</label><br />
                	<label for="phoneNumber">
                	    Telefone: <small>(formato: 83 9999 9999)</small> <input type="text" name="phoneNumber" value="$!{phoneNumber}" pattern="^(([0-9]{2}|\\([0-9]{2}\\))[ ])?[0-9]{4}[-. ]?[0-9]{4}$" required />
						#if ( $invalid.phoneNumber )
                			<span>$invalid.phoneNumber</span>
                		#end
                	</label><br />
                	<label for="description">
                		Descrição: <textarea name="description">$!{description}</textarea>
                	</label><br />
            		<input type="submit" value="Cadastrar" />
                </form>
			</div>
		</div>
	</div>
#end

#scripts()