#set( $title = "Figgo - Upload avatar" )
#parse( "templates/intern.vm" )

#head()

#fullHeader()

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$user.Name</h2>
        #if( $user.AvatarKey )
        <a href="/user/upload"><img id="avatar" src="/serve/$user.AvatarKey" alt="Avatar do usuário" /></a>
        #else
        <a href="/user/upload"><img id="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do usuário" /></a>
        #end
        <ul class="unstyled">
            <li>$user.UserId</li>
            <li>$user.PhoneNumber</li>
        </ul>
        <p>$user.Description</p>
    </section>

    <hr />

    <section>
        <h3>Coletivos associados</h3>
        #foreach( $domain in $domains )
        <div class="organization">
            <h4>$domain</h4>
            <ul class="inline">
                #foreach( $module in $domain.Modules )
                <li><a href="$serverName/$module.Url">$module.Name</a></li>
                #end
            </ul>
        </section>
        #end
    </section>
</div>
<div class="left">
	<section id="main-intern">
		<h2>Upload de avatar</h2>
	    <form action="$uploadUrl" method="post" enctype="multipart/form-data" accept-charset="utf-8">
	        <fieldset>
	            <legend>Selecione um arquivo</legend>
	            <div>
	                <label for="file">Arquivo</label>
	                <input type="file" id="file" name="file" required />
	                #if ($invalid.file)
	                <span>$invalid.file</span>
	                #end
	            </div>
	        </fieldset>
	        <input type="submit" value="É hora de mudar!" />
	    </form>
	</section>
</div>
#end

#scripts()