#set( $title = "Figgo - $!{domain.Name} - Banco - Saldo" )
#parse( "templates/intern.vm" )

#@head()
    <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css" />
#end

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
   	 <h3>Acesso rápido</h3>
        <nav>
            <ul class="two-column-shortcuts">
                <li><a href="/bank">Minha conta</a></li>
                <li><a href="/bank/transfer">Trasferência</a></li>
                <li><a href="/bank/statement">Extrato</a></li>
                <li><a href="/bank/stats">Estatísticas</a></li>
                #if ( $auth.BallastBank )
                <li><a href="/bank/ballast">Inserção de lastro</a></li>
                #end
                #if ( $auth.ShareBank )
                <li><a href="/bank/share">Transferência do banco</a></li>
                #end
            </ul>
        </nav>       
        
        <h3>Lista de saldos dos colaboradores</h3>
        <table class="bank">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
	            	#foreach( $key in $balances.keySet() )
				    <tr>
			        	<td>$key</td>
			            <td>$balances.get($key)</td>
					</tr>
					#end
	            <tr>	
            </tbody>
        </table>
    </section>
</div>
#end
            
#@scripts()
    <script defer src="/js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script defer src="/js/bank.js"></script>
#end