#set( $title = "Figgo - ${domain.Name} - Banco - Admin" )
#set( $module = "bank" )
#parse( "templates/intern.vm" )

#@head()
    <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css" />
#end

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        <h3>Acesso rápido</h3>
        <nav>
            <ul class="two-column-shortcuts">
                <li><a href="/bank">Minha conta</a></li>
                <li><a href="/bank/transfer">Transferência</a></li>
                <li><a href="/bank/statement">Extrato</a></li>
                <li><a href="/bank/stats">Estatísticas</a></li>
                #if ( $auth.BallastBank )
                <li><a href="/bank/ballast">Inserção de lastro</a></li>
                #end
                #if ( $auth.ShareBank )
                <li><a href="/bank/share">Transferência do banco</a></li>
                #end
				#if ( $auth.CollectBank )
                <li><a href="/bank/collect">Efetuar cobrança</a></li>
                #end
                #if ( $auth.AllBalancesBank )
                <li><a href="/bank/balances">Listar saldos</a></li>
                #end
            </ul>
        </nav>

        <hr />

        <h3>Admin</h3>
        <span>Saldo do banco: M$ $numberFormat.format($balance)</span>

        <form action="/bank/ballast" method="post" accept-charset="utf-8">
            <fieldset>
                <legend>Inserir lastro</legend>
                <div>
                    <label for="amount">Valor</label>
                    <input type="text" name="amount" />
                    #if ($invalid.amount)
                    <span>$i18n.get($invalid.amount)</span>
                    #end
                </div>
                <div>
                    <label for="comment">Comentário (opcional)</label>
                    <textarea name="comment"></textarea>
                </div>
            </fieldset>
            <input type="submit" value="Inserir" />
        </form>
    </section>
</div>
#end

#scripts()