#set( $title = "Figgo - Nome do coletivo - Banco" )
#parse( "templates/layout.vm" )

#@body()
	<a href="$logout_url">logout</a>
	
    <div id="main" class="center">
		<header>
    		<h1>Nome do coletivo</h1>
    		<nav id="tabs">
        		<ul class="inline">
                    <li><a href="$url/#">Dashboard</a></li>
                    <li class="selected"><a href="$url/bank#">Banco</a></li>
                    <li><a href="$url/services">Serviços</a></li>
        		</ul>
    		</nav>
		</header>
		<div id="bank">
			<div id="column-statement">
                <section id="balance">
                    <h3>Minha conta</h3>
    				<table class="simple">
                		<thead>
                    		<tr>
                    			<th>Data</th>
    							<th>Destino</th>
    							<th>Descrição</th>
    							<th>Valor</th>
                    		</tr>
                        </thead>
                		<tbody>
                        ##foreach( $transation in $account.LatestTransations )
                    		<tr>
                    			<td>transaction.Date</td>
								<td>transaction.To</td>
								<td>transaction.Description</td>
								<td>transaction.Value</td>
                    		</tr>
							<tr>
                    			<td>transaction.Date</td>
								<td>transaction.To</td>
								<td>transaction.Description</td>
								<td>transaction.Value</td>
                    		</tr>
							<tr>
                    			<td>transaction.Date</td>
								<td>transaction.To</td>
								<td>transaction.Description</td>
								<td>transaction.Value</td>
                    		</tr>
                        ##end
                        </tbody>
						<tfoot>
							<td />
							<td />
                            <td>SALDO</td>
                            <td>$account.Balance</td>
                        </tfoot>
                    </table>
    			</section>
				<hr />
			</div>
			<div id="column-quickmenu">
    			<section id="menu">
					<h3>Acesso rápido</h3>
					<aside>
    					<ul>
    						<li><a href="/bank">Minha conta</a></li>
                            <li><a href="/bank/transfer">Trasferência</a></li>
    						<li><a href="/bank/statement">Extrato</a></li>
    						<li><a href="/bank/other">Outras consultas</a></li>
                        </ul>
					</aside>
				</section>
            </div>
		</div>
	</div>
#end
	
#scripts()