#set( $title = "Figgo - $!{domain.Name} - Banco" )
#set( $currentModule = "BANK" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        <h3>Acesso rápido</h3>
        <nav>
            <ul class="two-column-shortcuts">
                <li><a href="/bank">Minha conta</a></li>
                <li><a href="/bank/transfer">Trasferência</a></li>
                <li><a href="/bank/statement">Extrato</a></li>
                <li><a href="/bank/stats">Estatísticas</a></li>
                #if ( $auth.BallastBank )
                <li><a href="/bank/ballast">Inserção de lastro</a></li>
                #end
                #if ( $auth.ShareBank )
                <li><a href="/bank/share">Transferência do banco</a></li>
                #end
            </ul>
        </nav>

        <hr />

        <h3>Minha conta</h3>
        <table class="bank">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Origem/Destino</th>
                    <th>Comentário</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tfoot>
                <td colspan="3" class="balance">SALDO</td>
                <td class=#if( $balance >= 0 )"blue"#else"red"#end>M$ $numberFormat.format($balance)</td>
            </tfoot>
            <tbody>
            #if( $transactions.size() > 0 )
                #foreach( $transaction in $transactions )
                <tr>
                    <td>$dateFormat.format($transaction.Date)</td>
                    #if( $transaction.AccountDest == $user.userId )
                    <td>$transaction.AccountOrig</td>
                    <td>$!{transaction.Comment}</td>
                    <td class="blue">$numberFormat.format($transaction.Amount)</td>
                    #else
                    <td>$transaction.AccountDest</td>
                    <td>$!{transaction.Comment}</td>
                    <td class="red">-$numberFormat.format($transaction.Amount)</td>
                    #end
                </tr>
                #end
            #else
                <tr><td colspan="4">Nenhuma transação até o momento.</td></tr>
            #end
            </tbody>
        </table>
    </section>
</div>
#end

#scripts()