#set( $title = "Figgo - $!{domain.Name} - Banco - Extrato" )
#parse( "templates/layout.vm" )

#header()

#@body()
    <div id="main" class="center">
		<header>
    		<h1>Nome do coletivo</h1>
    		<nav id="tabs">
        		<ul class="inline">
                    <li><a href="/">Dashboard</a></li>
                    #foreach( $module in $domain.ModulesEnabled )
						<li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$module</a></li>
					#end
        		</ul>
    		</nav>
		</header>
		<div id="content" class="bank">
			<div id="column-left">
                <section id="statement">
                    <h3>Extrato</h3>
					<form action="/bank/statement" method="post">
						<fieldset >
                        	<label for="type">
                                Mês:
    							<select type="text" name="month">
                                    <option value="Junho">Junho/2011</option>
									<option value="Maio">Maio/2011</option>
    								<option value="Abril">Abril/2011</option>
                                </select>
                        	</label>
                    		<input type="submit" value="Visualizar" />
                        </fieldset>
                    </form>
    			</section>
				<hr />
			</div>
			<div id="column-right">
    			<section id="menu">
					<h3>Acesso rápido</h3>
					<aside>
    					<ul>
    						<li><a href="/bank">Minha conta</a></li>
                            <li><a href="/bank/transfer">Trasferência</a></li>
    						<li><a href="/bank/statement">Extrato</a></li>
    						<li><a href="/bank/other">Outras consultas</a></li>
                        </ul>
					</aside>
				</section>
            </div>
		</div>
	</div>
#end
	
#scripts()