#set( $title = "Figgo - $!{domain.Name} - Banco - Extrato" )
#parse( "templates/layout_intern.vm" )

#@head()
    <link type="text/css" href="/css/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
#end

#fullHeaderDomain()

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/serve/$domain.AvatarKey" alt="Avatar do domínio" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do domínio" /></a>
        #end
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            #foreach( $module in $domain.ModulesEnabled )
                <li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$module</a></li>
            #end
        </ul>
    </section>
</div>
<div class="left">
    <section id="main-intern">
        <h3>Acesso rápido</h3>
        <nav>
            <ul class="bank-shortcuts">
                <li><a href="/bank">Minha conta</a></li>
                <li><a href="/bank/transfer">Trasferência</a></li>
                <li><a href="/bank/statement">Extrato</a></li>
                <li><a href="/bank/stats">Estatísticas</a></li>
            </ul>
        </nav>

        <hr />
        
        <section id="general-stats">
            <div class="left">
                <h3>Informações atuais do banco</h3>
                <ul class="unstyled">
                    <li>Saldo: $balance</li>
                    <li>Lastro: $ballast</li>
                    <li>Em circulação: $inCirculation</li>
                </ul>
            </div>
            <div class="left">
                <h3>Informações do banco no mês atual</h3>
                <ul class="unstyled">
                    <li>Movimentação: $monthCirculation</li>
                    <li>Retorno: $creditAmount</li>
                </ul>
            </div>
        </section>

        <hr />

        <section>
            <h3>Movimentação e retorno em outros períodos?</h3>
            <form id="stats-form" action="/bank/stats" method="post">
                <fieldset>
                    <legend>Selecione um intervalo</legend>
                    <div>
                        <label for="startDate">Início</label>
                        <input type="text" id="startDate" name="startDate" />
                    </div>
                    <div>
                        <label for="endDate">Fim</label>
                        <input type="text" id="endDate" name="endDate" />
                    </div>
                    <input type="submit" value="Visualizar" />
                </fieldset>
            </form>

            <hr />

            <section id="dynamic-stats">
                <h3></h3>
                <ul class="unstyled">
                    <li>Movimentação: <span id="circulation"></span></li>
                    <li>Retorno: <span id="amount"></span></li>
                </ul>
            </section>
        </section>
    </section>
</div>
#end
    
#@scripts()
    <script defer src="/js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script defer src="/js/bank.js"></script>
#end