#set( $title = "Figgo - $!{domain.Name} - Banco - Extrato" )
#parse( "templates/layout_intern.vm" )

#head()

#fullHeaderDomain()

#@body()
    <div id="main" class="center">
		<header>
    		<h1>Nome do coletivo</h1>
    		<nav id="tabs">
        		<ul class="inline">
                    <li><a href="/">Dashboard</a></li>
                    #foreach( $module in $domain.ModulesEnabled )
						<li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$module</a></li>
					#end
        		</ul>
    		</nav>
		</header>
		<div id="content" class="bank">
			<div id="single-column">
                <section id="static-stats">
                    <h3>Informações atuais do banco</h3>
					<dl>
						<dt>Saldo:</dt>
						<dd>$balance</dd>
						<dt>Lastro:</dt>
						<dd>$ballast</dd>
						<dt>Em circulação:</dt>
						<dd>$inCirculation</dd>
					</dl>
    			</section>
				<section id="dynamic-stats">
                    <h3>Informações do banco no mês atual</h3>
					<form id="stats-form" action="/bank/stats" method="post">
						<fieldset >
                        	<label for="startDate">
                                Início: <input type="text" name="startDate" />
                        	</label> <br />
							<label for="endDate">
                                Fim: <input type="text" name="endDate" />
                        	</label> <br />
                    		<input type="submit" value="Visualizar" />
                        </fieldset>
                    </form>
					<dl>
						<dt>Movimentação:</dt>
						<dd>$monthCirculation</dd>
						<dt>Retorno:</dt>
						<dd>$creditAmount</dd>
					</dl>
    			</section>
			</div>
		</div>
	</div>
#end
	
#@scripts()
	<script src="/js/bank.js"></script>
#end