#set( $title = "Figgo - $!{domain.Name} - Banco - Extrato" )
#parse( "templates/intern.vm" )

#@head()
    <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css" />
#end

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        <h3>Acesso rápido</h3>
        <nav>
            <ul class="two-column-shortcuts">
                <li><a href="/bank">Minha conta</a></li>
                <li><a href="/bank/transfer">Transferência</a></li>
                <li><a href="/bank/statement">Extrato</a></li>
                <li><a href="/bank/stats">Estatísticas</a></li>
                #if ( $auth.BallastBank )
                <li><a href="/bank/ballast">Inserção de lastro</a></li>
                #end
                #if ( $auth.ShareBank )
                <li><a href="/bank/share">Transferência do banco</a></li>
                #end
                #if ( $auth.CollectBank )
                <li><a href="/bank/collect">Efetuar cobrança</a></li>
                #end
                #if ( $auth.AllBalancesBank )
                <li><a href="/bank/balances">Listar saldos</a></li>
                #end
            </ul>
        </nav>

        <hr />
        
        <section id="general-stats">
            <div class="left">
                <h3>Informações atuais do banco</h3>
                <ul class="unstyled">
                    <li>Saldo: $currencySymbol $numberFormat.format($balance)</li>
                    <li>Lastro: $currencySymbol $numberFormat.format($ballast)</li>
                    <li>Em circulação: $currencySymbol $numberFormat.format($ballast.subtract($balance))</li>
                </ul>
            </div>
            <div class="left">
                <h3>Informações do banco no mês atual</h3>
                <ul class="unstyled">
                    <li>Movimentação: $currencySymbol $numberFormat.format($currentAmountTransactions)</li>
                    <li>Retorno: $currencySymbol $numberFormat.format($currentCreditAmount)</li>
                </ul>
            </div>
        </section>

        <hr />

        <section>
            <h3>Movimentação e retorno em outros períodos?</h3>
            <form id="stats-form" action="/bank/stats" method="post">
                <fieldset>
                    <legend>Selecione um intervalo</legend>
                    <div>
                        <label for="startDate">Início</label>
                        <input type="text" id="startDate" name="startDate" />
                    </div>
                    <div>
                        <label for="endDate">Fim</label>
                        <input type="text" id="endDate" name="endDate" />
                    </div>
                    <input type="submit" value="Visualizar" />
                </fieldset>
            </form>

            <hr />

            <section id="dynamic-stats">
                <h3></h3>
                <ul class="unstyled">
                    <li>Movimentação: $currencySymbol <span id="circulation"></span></li>
                    <li>Retorno: $currencySymbol <span id="amount"></span></li>
                </ul>
            </section>
        </section>
    </section>
</div>
#end
    
#@scripts()
    <script defer src="/js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script defer src="/js/bank.js"></script>
#end