#set( $title = "Figgo - $!{domain.Name} - Banco - Transações" )
#parse( "templates/intern.vm" )

#@head()
    <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css" />
#end

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        <h3>Acesso rápido</h3>
        <nav>
            <ul class="two-column-shortcuts">
                <li><a href="/bank">Minha conta</a></li>
                <li><a href="/bank/transfer">Transferência</a></li>
                <li><a href="/bank/statement">Extrato</a></li>
                <li><a href="/bank/stats">Estatísticas</a></li>
                #if ( $auth.BallastBank )
                <li><a href="/bank/ballast">Inserção de lastro</a></li>
                #end
                #if ( $auth.ShareBank )
                <li><a href="/bank/share">Transferência do banco</a></li>
                #end
            </ul>
        </nav>

        <hr />

        <h3>Transferência</h3>
        <span>Saldo atual: M$ $numberFormat.format($balance)</span>

        <form action="/bank/transfer" method="post" accept-charset="utf-8">
            <fieldset>
                <legend>Faça uma transferência</legend>
                #if ($insufficient)
                <div class="general">
                    <span>$i18n.get($insufficient)</span>
                </div>
                #end
                <div>
                    <label for="userId">Usuário</label>
                    <input type="text" name="userId" class="autocomplete" value="$!{userId}" required />
                    #if ($invalid.userId)
                    <span>$i18n.get($invalid.userId)</span>
                    #end
                </div>
                <div>
                    <label for="amount">Valor</label>
                    <input type="text" name="amount" value="$!{amount}" required />
                    #if ($invalid.amount)
                    <span>$i18n.get($invalid.amount)</span>
                    #end
                </div>
                <div>
                    <label for="type">Tipo</label>
                    <select type="text" name="type">
                        <option value="PAYMENT" #if($!{type} == 'PAYMENT')selected#end>Pagamento</option>
                        <option value="TRANSFER" #if($!{type} == 'TRANSFER')selected#end>Transferência</option>
                    </select>
                    #if ($invalid.type)
                    <span>$i18n.get($invalid.type)</span>
                    #end
                </div>
                <div>
                    <label for="comment">Comentário (opcional)</label>
                    <textarea name="comment">$!{comment}</textarea>
                </div>
            </fieldset>
            <input type="submit" value="Transferir" />
        </form>
    </section>
</div>
#end
    
#@scripts()
    <script defer src="/js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script defer src="/js/bank.js"></script>
#end