#set( $title = "Figgo - Permissões" )
#parse( "templates/layout_intern.vm" )

#head()

#fullHeaderDomain()

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/serve/$domain.AvatarKey" alt="Avatar do domínio" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do domínio" /></a>
        #end
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            #foreach( $module in $domain.ModulesEnabled )
                <li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$module</a></li>
            #end
        </ul>
    </section>
</div>
<div class="left">
    <section id="main-intern">
        <h2>Permissões do domínio</h2>
        <table>
            <thead>
                <tr>
                    <th>Atividade</th>
                #foreach( $role in $roles ) 
                    <th><a href="/roles/edit/$role.Name">$role.Name</a></th>
                #end
                </tr>
            </thead>
            <tbody>
            #foreach( $activity in $activities )
                <tr>
                    <td>$activity</td>
                #foreach( $role in $roles )
                    <td>#if( $role.containsActivity($activity) ) X #end</td>
                #end
                </tr>
            #end
            </tbody>
        </table>
    </section>
</div>
#end

#scripts()