#set( $title = "Figgo - Nova permissões" )
#parse( "templates/layout_intern.vm" )

#head()

#fullHeaderDomain();

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/blob/$domain.AvatarKey" alt="Avatar do domínio" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do domínio" /></a>
        #end
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            #foreach( $module in $domain.ModulesEnabled )
                <li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$module</a></li>
            #end
        </ul>
    </section>
</div>
<div class="left">
    <section id="main-intern">
        <h2>Nova permissão</h2>
        <form action="/roles/new" method="post" accept-charset="utf-8">
            <fieldset>
                <legend>Novo papel de usuário</legend>
                <div>
                    <label for="name">Nome do papel</label>
                    <input type="text" id="name" name="name" value="$!{$role.name}"/>
                </div>
                <div class="roles">
                #foreach( $activity in $activities )
                    <div>
                        <label for="name">${activity}?</label>
                        <input type="checkbox" name="activities" value="$activity" />
                    </div>
                #end
            </div>
            </fieldset>
            <input type="submit" value="Criar" />
        </form>
    </section>
</div>
#end

#scripts()
