#set( $title = "Figgo - Permissões" )
#parse( "templates/layout_intern.vm" )

#header()

#@body()
	<div id="main" class="center">
		<header>
    		<h1>Permissões do domínio</h1>
		</header>
		<div id="content">
			<div id="single-column" class="domain">
                <section id="roles">
					<table class="simple">
                		<thead>
                    		<tr>
                    			<th>Atividade</th>
							#foreach( $role in $roles )	
								<th><a href="/roles/edit/$role.Name">$role.Name</a></th>
							#end
                    		</tr>
                        </thead>
                		<tbody>
						#foreach( $activity in $activities )
                    		<tr>
								<td>$activity</td>
							#foreach( $role in $roles )
								<td>#if( $role.containsActivity($activity) ) X #end</td>
							#end
                    		</tr>
						#end
                        </tbody>
                    </table>
                </section>
            </div>
		</div>
	</div>
#end

#@scripts()
	<script type="text/javascript" src="/js/libs/jquery.uitablefilter.js"></script>
#end