#set( $title = "Figgo - Permissões" )
#parse( "templates/layout_intern.vm" )

#head()

#fullHeaderDomain()

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/serve/$domain.AvatarKey" alt="Avatar do domínio" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do domínio" /></a>
        #end
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            #foreach( $module in $domain.ModulesEnabled )
                <li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$module</a></li>
            #end
        </ul>
    </section>
</div>
<div class="left">
    <section id="main-intern">
        <h2>Permissões do domínio</h2>
        <p><a href="#" id="add-role">Criar novo papel</a></p>
        <form id="new-role" action="/roles/new" method="post">
            <fieldset>
                <legend>Novo papel de usuário</legend>
                <div>
                    <label for="name">Nome do papel</label>
                    <input type="text" id="name" name="name" value="$!{$newRole}"/>
                </div>
                <input type="submit" value="Criar" />
            </fieldset>
        </form>
        
        <hr />

        <table class="roles">
            <thead>
                <tr>
                    <th>Atividade</th>
                #foreach( $role in $roles ) 
                    <th>$role.Name <a class="delete" href="/roles/delete/$role.Name" data-confirm="Você tem certeza que deseja remover esse papel?"><small>remover?</small></a></th>
                #end
                </tr>
            </thead>
            <tbody>
            #foreach( $activity in $activities )
                #set( $activityTemp = $activity )
                <tr>
                    <td>$activity</td>
                #foreach( $role in $roles )
                    <td><input id="${role.name}${activity}" data-role="${role.name}" data-activity="${activity}" type="checkbox" #if( $role.containsActivity($activity) ) checked #end /></td>
                #end
                </tr>
            #end
            </tbody>
        </table>
    </section>
</div>
#end

#@scripts()
    <script defer src="/js/roles.js"></script>
#end