#set( $title = "Figgo - Usuários do domínio" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div id="users-domain" class="left">
    <section id="main-intern">
        <h3>Usuários no domínio</h3>

        <nav>
            <ul class="two-column-shortcuts">
                #if ( $auth.ListUsers )
                <li class="selected"><a href="/users">Listar usuários</a></li>
                #end
                #if ( $auth.ListRoles )
                <li><a href="/roles">Gerenciar papéis e permissões</a></li>
                #end
                #if ( $auth.ListUsersAndRoles )
                <li><a href="/roles/users">Gerenciar usuários e papéis</a></li>
                #end
            </ul>
        </nav>

        <hr />

        <section id="active-users">
            <h4>Ativos</h4>
            <img class="loader" src="/img/ajax-loader.gif" />
        </section>

        <section id="pending-users" data-accept="$auth.AcceptRequestUser" data-reject="$auth.RejectRequestUser">
            <h4>Pendentes</h4>
            <img class="loader" src="/img/ajax-loader.gif" />
        </section>
    </section>
</div>
#end

#@scripts()
    <script src="/js/app/roles/main.js"></script>
#end