#set( $title = "Figgo - Usuários do domínio" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()

<div class="left">
    <section id="main-intern">
        <h3>Usuários no domínio</h3>
        #if ( $auth.ListRoles )
        <nav>
            <a href="/roles">Gerenciar papéis e permissões</a>
        </nav>

        <hr />
        #end
        <section id="active">
            <h4>Ativos</h4>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Perfis</th>
                    </tr>
                </thead>
                <tbody>
                #foreach( $user in $users )
                    <tr>
                        <td>$user.Name</td>
                        <td>$user.UserId</td>
                        <td>$user.Roles</td>
                    </tr>
                #end
                </tbody>
            </table>
        </section>

        <section id="pending">
            <h4>Pendentes</h4>
            <table class="simple">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                #foreach( $user in $pending )
                    <tr>
                        <td>$user.Name</td>
                        <td>$user.UserId</td>
                        <td><button>aceitar</button></td>
                    </tr>
                #end
                </tbody>
            </table>
        </section>
    </section>
</div>
#end

#scripts()
