#set( $title = "Figgo - Editar permissões usuário" )
#parse( "templates/layout_intern.vm" )

#header()

#@body()
	<div id="main" class="center">
		<header>
    		<h1>Permissões do usuário $user.name em $domain</h1>
		</header>
		<div id="content">
			<div id="single-column" class="domain">
                <section id="users">
					<form data-user="$user.userId">
					#foreach( $role in $roles )
						<label for="$role.id">
							<input type="checkbox" id="$role.id" name="$role.id" />
							$role.name
						</label>
					#end
					</form>
					<a href="/roles/user/remove" class="remove-roles">remover permissões</a>
                </section>
            </div>
		</div>
	</div>
#end

#@scripts()
	<script src="/js/roles.js"></script>
#end