#set( $title = "Figgo - Editar permissões usuário" )
#parse( "templates/layout_intern.vm" )

#header()

#@body()
#domainSidebar()
<div class="left">
	<section id="main-intern">
		<h2>Permissões do usuário $user.name em $domain</h2>
		<form data-user="$user.userId">
		#foreach( $role in $roles )
			<label for="$role.id">
				<input type="checkbox" id="$role.id" name="$role.id" />
				$role.name
			</label>
		#end
		</form>
		<a href="/roles/user/remove" class="remove-roles">remover permissões</a>
    </section>
</div>
#end

#@scripts()
	<script src="/js/roles.js"></script>
#end