#set( $title = "Figgo - Editar permissões usuário" )
#parse( "templates/intern.vm" )

#head()

#fullHeaderDomain()

#@body()
#domainSidebar()
<div class="left">
	<section id="main-intern">
		<h3>Usuários e suas permissões</h3>

		<img class="loader" src="/img/ajax-loader.gif" />
        <table id="roles-users" class="has-users">
            <thead>
                <tr>
                    <th>Usuário</th>
                #foreach( $role in $roles ) 
                    <th>$i18n.get($role.name)</a></th>
                #end
                </tr>
            </thead>
            <tbody>
            #foreach( $user in $users )
                <tr data-user="${user.userId}">
                    <td>$user.userId</td>
                #foreach( $role in $roles )
                    <td><input id="${role.name}" data-role="${role.name}" data-user="${user.userId}" type="checkbox" #if( $role.containsUser($user.userId) ) checked #end /></td>
                #end
                </tr>
            #end
            </tbody>
        </table>
    </section>
</div>
#end

#@scripts()
	<script src="/js/roles.js"></script>
#end