#set( $title = "Figgo - Usuários do domínio" )
#parse( "templates/layout_intern.vm" )

#head()

#fullHeaderDomain()

#@body()
<div class="left">
    <section id="about-intern">
        <h2>$domain.Name</h2>
        #if( $domain.AvatarKey )
        <a href="/domain/upload"><img class="avatar" src="/serve/$domain.AvatarKey" alt="Avatar do domínio" /></a>
        #else
        <a href="/domain/upload"><img class="avatar" src="http://lorempixum.com/180/180/" alt="Avatar do domínio" /></a>
        #end
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            #foreach( $module in $domain.ModulesEnabled )
                <li #if( $module == $currentModule )class="selected"#end><a href="/$module.toLowerCase()">$module</a></li>
            #end
        </ul>
    </section>
</div>
<div class="left">
   <section id="main-intern">
        <h2>Usuários no domínio</h2>
        <section id="active">
            <h3>Ativos</h3>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Perfis</th>
                    </tr>
                </thead>
                <tbody>
                #foreach( $user in $users )
                    <tr>
                        <td>$user.Name</td>
                        <td>$user.UserId</td>
                        <td>$user.Roles</td>
                    </tr>
                #end
                </tbody>
            </table>
        </section>

        <section id="pending">
            <h3>Pendentes</h3>
            <table class="simple">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                #foreach( $user in $pending )
                    <tr>
                        <td>$user.Name</td>
                        <td>$user.UserId</td>
                        <td><button>aceitar</button></td>
                    </tr>
                #end
                </tbody>
            </table>
        </section>
    </section>
</div>
#end

#@scripts()
    <script type="text/javascript" src="/js/libs/jquery.uitablefilter.js"></script>
#end