properties 
    # Production Settings
    APPLICATION_BASE_URL http://www.figgo.com.br/
    APPLICATION_DOMAIN figgo.com.br

    # Other settings    
    # SUPPORTED LOCALES    
    I18N_SUPPORTED_LOCALES pt_BR
    # Authorization Domain - to be used by google authentication
    AUTHORIZATION_DOMAIN figgo.com.br
    # Contact mail
    MAIL_TO contato@figgo.com.br
    
dependencies

interceptors
    # Controller Interceptors
    # Controller interceptors should be declared in execution order
    # Response Interceptors
    br.octahedron.cotopaxi.gzip.GZipTemplatenterceptor
    br.octahedron.figgo.FiggoI18nResponseInterceptor


bootloaders
    # Subscribers bootloader
    
controllers
    # Index controller
    br.octahedron.figgo.IndexController
        /           get     Index
        /about      get     About
        /contact    get     Contact
        /contact    post    Contact
