<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<!-- Listeners -->
	<!-- Boostraps the system -->
	<listener>
        <listener-class> br.octahedron.straight.BootstrapServletListener</listener-class>
    </listener>
	<!-- Gaelyk required -->
	<listener>
        <listener-class>groovyx.gaelyk.GaelykServletContextListener</listener-class>
    </listener>

	<!-- Filters -->
	<!-- Persistence Manager Filter -->
    <filter>
        <filter-name>PersistenceManagerFilter</filter-name>
        <filter-class>br.octahedron.commons.database.PersistenceManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PersistenceManagerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<!-- Gaelyk Route Filter -->
	<filter>
        <filter-name>RoutesFilter</filter-name>
        <filter-class>groovyx.gaelyk.routes.RoutesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoutesFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>GroovletServlet</servlet-name>
        <servlet-class>groovyx.gaelyk.GaelykServlet</servlet-class>
        <init-param>
            <param-name>verbose</param-name>
            <!-- Set it to true for more details -->
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<!-- Mapping -->
    <servlet-mapping>
        <servlet-name>GroovletServlet</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>

    <!-- Uncomment the following security constraint if you want to secure your incoming email endpoint -->
    <!-- Only allow the SDK and administrators to have access to the incoming email endpoint -->
    <!--
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/_ah/mail/*</url-pattern>
            <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    -->

    <welcome-file-list>
        <welcome-file>index.vm</welcome-file>
    </welcome-file-list>

</web-app>
