#column-my-services {
  float: left;
  width: 209px;
}

#my-services table {
  tbody {
    tr:nth-child(2n+1) {
      background-color: #eee;
    }
  }
}

#organization-services table {
  tbody {
    tr:nth-child(2n) {
      background-color: #eee;
    }
  }
}