#column-about {
  float: left;
  width: 335px;
  
  #avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin: 3px 7px 7px;
    @include shadow(0, 0, 3px);
  }
  
  #about p {
    margin: 50px auto auto 5px;
    font-size: 14px;
  }
}